{% for block in section.blocks %}

{% if block.type == 'lookbook' %}
{% for product_h in collections[block.settings.selected_collection].products %}
{% if product.handle == product_h.handle %}
{% if block.settings.dpl_lookboob_slide %}

<div class="product-lookbook grouped-lb">
  <div class="widget-title">
    <h3>
      <span class="lang1">{{block.settings.section_title}}</span>
    </h3>
  </div>
  <div class="item" id="lb-item"> 
    <div class="lazy-images-contain image_fullwidth" >
      {% if block.settings.lb_image_slide != blank %}
      {%- assign img_url = block.settings.lb_image_slide | img_url: '1024x' -%}
      <img src="{{block.settings.lb_image_slide | img_url: '1024x'}}" alt=""
           class="lazyload"
           data-src="{{ img_url }}"
           data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
           data-sizes="auto">
      {% else %}
      {% capture current %}{% cycle 2 %}{% endcapture %}
      {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}                 
      {% endif %}

      {% if block.settings.lb_product_1 != blank %}
      <div class="lookbook-item" style="top:{{ block.settings.top_position_1 }}%; left:{{ block.settings.left_position_1 }}%;">
        <span class="glyphicon pr-lb item_1" data-handle="{{ block.settings.lb_product_1 }}">+</span>
      </div>
      {% endif %}

      {% if block.settings.lb_product_2 != blank %}
      <div class="lookbook-item" style="top:{{ block.settings.top_position_2 }}%; left:{{ block.settings.left_position_2 }}%;">
        <span class="glyphicon pr-lb item_2" data-handle="{{ block.settings.lb_product_2 }}">+</span>
      </div>
      {% endif %}
      
      {% if block.settings.lb_product_3 != blank %}
      <div class="lookbook-item" style="top:{{ block.settings.top_position_3 }}%; left:{{ block.settings.left_position_3 }}%;">
        <span class="glyphicon pr-lb item_3" data-handle="{{ block.settings.lb_product_3 }}">+</span>
      </div>
      {% endif %}
      
      {% if block.settings.lb_product_4 != blank %}
      <div class="lookbook-item" style="top:{{ block.settings.top_position_4 }}%; left:{{ block.settings.left_position_4 }}%;">
        <span class="glyphicon pr-lb item_4" data-handle="{{ block.settings.lb_product_4 }}">+</span>
      </div>
      {% endif %}
      
      {% if block.settings.lb_product_5 != blank %}
      <div class="lookbook-item" style="top:{{ block.settings.top_position_5 }}%; left:{{ block.settings.left_position_5 }}%;">
        <span class="glyphicon pr-lb item_5" data-handle="{{ block.settings.lb_product_5 }}">+</span>
      </div>
      {% endif %}
      
      {% if block.settings.lb_product_6 != blank %}
      <div class="lookbook-item" style="top:{{ block.settings.top_position_6 }}%; left:{{ block.settings.left_position_6 }}%;">
        <span class="glyphicon pr-lb item_6" data-handle="{{ block.settings.lb_product_6 }}">+</span>
      </div>
      {% endif %}
      
      {% if block.settings.lb_product_7 != blank %}
      <div class="lookbook-item" style="top:{{ block.settings.top_position_7 }}%; left:{{ block.settings.left_position_7 }}%;">
        <span class="glyphicon pr-lb item_7" data-handle="{{ block.settings.lb_product_7 }}">+</span>
      </div>
      {% endif %}
      
      {% if block.settings.lb_product_8 != blank %}
      <div class="lookbook-item" style="top:{{ block.settings.top_position_8 }}%; left:{{ block.settings.left_position_8 }}%;">
        <span class="glyphicon pr-lb item_8" data-handle="{{ block.settings.lb_product_8 }}">+</span>
      </div>
      {% endif %}
      
      {% if block.settings.lb_product_9 != blank %}
      <div class="lookbook-item" style="top:{{ block.settings.top_position_9 }}%; left:{{ block.settings.left_position_9 }}%;">
        <span class="glyphicon pr-lb item_9" data-handle="{{ block.settings.lb_product_9 }}">+</span>
      </div>
      {% endif %}
      
      {% if block.settings.lb_product_10 != blank %}
      <div class="lookbook-item" style="top:{{ block.settings.top_position_10 }}%; left:{{ block.settings.left_position_10 }}%;">
        <span class="glyphicon pr-lb item_10" data-handle="{{ block.settings.lb_product_10 }}">+</span>
      </div>
      {% endif %}

      <style type="text/css">
        #lb-item .item_1{
          color:{{ block.settings.dots_color_1 }};
          background: {{ block.settings.dots_bg_color_1 }};
        }
        #lb-item .item_1:before {
          color: {{ block.settings.dots_bg_color_1 }};
        } 
        #lb-item .item_2{
          color:{{ block.settings.dots_color_2 }};
          background: {{ block.settings.dots_bg_color_2 }};
        }
        #lb-item .item_2:before{
          color: {{ block.settings.dots_bg_color_2 }};
        }
        #lb-item .item_3{
          color:{{ block.settings.dots_color_3 }};
          background: {{ block.settings.dots_bg_color_3 }};
        }
        #lb-item .item_3:before{
          color: {{ block.settings.dots_bg_color_3 }};
        }
        #lb-item .item_4{
          color:{{ block.settings.dots_color_4 }};
          background: {{ block.settings.dots_bg_color_4 }};
        }
        #lb-item .item_4:before{
          color: {{ block.settings.dots_bg_color_4 }};
        }
        #lb-item .item_5{
          color:{{ block.settings.dots_color_5 }};
          background: {{ block.settings.dots_bg_color_5 }};
        }
        #lb-item .item_5:before{
          color: {{ block.settings.dots_bg_color_5 }};
        }
        #lb-item .item_6{
          color:{{ block.settings.dots_color_6 }};
          background: {{ block.settings.dots_bg_color_6 }};
        }
        #lb-item .item_6:before{
          color: {{ block.settings.dots_bg_color_6 }};
        }
        #lb-item .item_7{
          color:{{ block.settings.dots_color_7 }};
          background: {{ block.settings.dots_bg_color_7 }};
        }
        #lb-item .item_7:before{
          color: {{ block.settings.dots_bg_color_7 }};
        }
        #lb-item .item_8{
          color:{{ block.settings.dots_color_8 }};
          background: {{ block.settings.dots_bg_color_8 }};
        }
        #lb-item .item_8:before{
          color: {{ block.settings.dots_bg_color_8 }};
        }
        #lb-item .item_9{
          color:{{ block.settings.dots_color_9 }};
          background: {{ block.settings.dots_bg_color_9 }};
        }
        #lb-item .item_9:before{
          color: {{ block.settings.dots_bg_color_9 }};
        }
        #lb-item .item_10{
          color:{{ block.settings.dots_color_10 }};
          background: {{ block.settings.dots_bg_color_10 }};
        }
        #lb-item .item_10:before{
          color: {{ block.settings.dots_bg_color_10 }};
        }
        .image_fullwidth img{
          object-fit: contain !important;
          width: 100% !important;
          border-radius:0px!important;
        }
        .product-lookbook{
          margin-bottom:30px;
        }
      </style>
    </div>	
  </div>
</div>
{% endif %}
{% endif %}
{% endfor %}

{% endif %}
{% endfor %}