<div class="panel-group product-tab {% if section.settings.show_tab == 'horizontal_center' %}grouped-product-tab{% endif %}">
  <ul class="nav nav-tabs" id="myTab">
    {% if section.settings.display_product_detail_description %}
    <li>
      <a class="active" data-toggle="tab" href="#collapse-tab1">
        {% include 'multilang' with section.settings.product_description_title %}                
      </a>
    </li>
    {% endif %}
    {% if section.settings.display_product_reviews %}       
    <li>
      <a data-toggle="tab" href="#collapse-tab4">
        {% include 'multilang' with section.settings.product_review_title %}                 
      </a>
    </li>
    {% endif %}
    {% if section.settings.display_custom_tab %}
    <li>
      <a data-toggle="tab" href="#collapse-tab2">
        {% include 'multilang' with section.settings.custom_tab_title %}                 
      </a>
    </li>
    {% endif %}

    {% if section.settings.display_custom_tabs %}
    <li>
      <a data-toggle="tab" href="#collapse-tab3">
        {% include 'multilang' with section.settings.video_tab_title %}                
      </a>
    </li>
    {% endif %}
  </ul>

  <div id="myTabContent" class="tab-content rte">
    {% if section.settings.display_product_detail_description %}   

    {% if product.description contains '[countdown]' or  product.description contains '[custom tab]'  or  product.description contains '[des]' or  product.description contains 'iframe' %}
    {% assign des = product.description | split:'[/countdown]</p>' | last %}
    {% assign des = des | split:'[custom tab]</p>' | first %}
    {% assign des = des | split:'<iframe' | first %}
    {% assign des = des | split:'[des]</p>' | first %}
    <div id="collapse-tab1" class="tab-pane in active">
      {% if settings.enable_multilang %}
      <div class="lang1">{{ des | split: '[lang2]' | first }}</div>
      <div class="lang2">{{ des | split: '[lang2]' | last }}</div>
      {% else %}
      <div>{{ des | split: '[lang2]' | first }}</div>
      {% endif %}
      
      {% include 'product-detail-lookbook' %} 
    </div>
    {% else %}
    <div id="collapse-tab1" class="tab-pane in active">
      {% if settings.enable_multilang %}
      <div class="lang1">{{ product.description | split: '[lang2]' | first }}</div>
      <div class="lang2">{{ product.description | split: '[lang2]' | last }}</div>
      {% else %}
      <div>{{ product.description | split: '[lang2]' | first }}</div>
      {% endif %}
      
      {% include 'product-detail-lookbook' %} 
    </div>
    {% endif %}

    {% endif %}

    {% if section.settings.display_product_reviews %}
    <div id="collapse-tab4" class="tab-pane fade">
      {% comment %}
      Add product review widget, must install Product Review App:
      https://apps.shopify.com/product-reviews
      {% endcomment %}
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    </div>
    {% endif %}

    {% if section.settings.display_custom_tab %}
    <div id="collapse-tab2" class="tab-pane fade">
      {% if settings.enable_multilang %}
      <div class="lang1">{{ section.settings.custom_tab_content | split: '[lang2]' | first }}</div>
      <div class="lang2">{{ section.settings.custom_tab_content | split: '[lang2]' | last }}</div>
      {% else %}
      <div>{{ section.settings.custom_tab_content | split: '[lang2]' | first }}</div>
      {% endif %}
    </div>
    {% endif %}

    {% if section.settings.display_custom_tabs %}
    <div id="collapse-tab3" class="tab-pane">
      {% if product.description contains '[custom tab]' %}
      {% assign des = product.description | split:'<p>[custom tab]</p>' | last | split:'[/custom tab]' | first %}
      {% if settings.enable_multilang %}
      <div class="lang1">{{ des | split: '[lang2]' | first }}</div>
      <div class="lang2">{{ des | split: '[lang2]' | last }}</div>
      {% else %}
      <div>{{ des | split: '[lang2]' | first }}</div>
      {% endif %}
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
<script>
  jQuery('#myTab a').click(function (e) {
    e.preventDefault();
    jQuery(this).tab('show');
  })
</script> 