<div class="pdp-size-popup" id="pdp-size-popup">
  <div class="popup-close"><svg class="Icon Icon--close" role="presentation" viewBox="0 0 16 14">
      <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
    </svg></div>
  <div class="main-size-container">
      <div class="size-popup-header">
        <h1 class="ProductMeta__Title Heading u-h2">Long Shirt Kurta  - Black &amp; Ivory</h1><div class="size-and-fit-wrapper">
            <ul>
              <p class="inner-title">Size &amp; Fit</p><li class="inner-details">Model Height: 5'7"</li><li class="inner-details">Size: S</li><li class="inner-details">Fit: Loose</li></ul>
          </div></div>

      <div class="size-popup-body">
        <div class="pdp-size-measure-toggle hide">
          <span>INCHES</span><label class="switch">
          <span class="slider-toogle-bx round active"></span>
          </label><span>CMS</span>
        </div>
        <div class="size-chart-inner-wrap">
        
<div class="size-table first-table-wrap" data-rows-count="6">
              <p class="table-title">Body Measurements</p>
              <div class="table-inner-wrap">
                <div class="radio-boxes">
                </div>
                      <div class="bottom-rows-wrap">
                        <div class="table-inner-row row-0" data-value="size">
                          <p class="content" style="height: 64.6px;">Pinklay</p>
                          <p class="content" style="height: 64.6px;">us</p>
                          <p class="content" style="height: 64.6px;">uk</p>
                          <p class="content" style="height: 64.6px;">waist</p>
                          <p class="content" style="height: 64.6px;">shoulder</p>
                          <p class="content" style="height: 64.6px;">chest</p>
                          <p class="content" style="height: 64.6px;">hip</p>
                        </div>
                        {% assign values = '' %}
                        {% for variant in product.variants %}
                          {% assign value = variant.options[0] %}
                          {% unless values contains value %}
                          {% assign values = values | join: ',' %}	
                          {% assign values = values | append: ',' | append: value %} 
                          {% assign values = values | split: ',' %}
                          {% if value == 'S-M' %}
                          <div class="table-inner-row row-1" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            <p class="content" style="height: 64.6px;">0-6</p>
                            <p class="content" style="height: 64.6px;">4-8</p>
                            <p class="content" data-size="59.69-63.5" style="height: 64.6px;">23.5-27</p>
                            <p class="content" data-size="34.29-35.56" style="height: 64.6px;">13.5-15</p>
                            <p class="content" data-size="80.01-83.82" style="height: 64.6px;">31.5-35</p>
                            <p class="content" data-size="86.36-90.17" style="height: 64.6px;">36-37.5</p>
                          </div>
                          {% endif %}
                          {% if value == 'XS' %}
                          <div class="table-inner-row row-2" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            <p class="content" style="height: 64.6px;">0-2</p>
                            <p class="content" style="height: 64.6px;">4</p>
                            <p class="content" data-size="59.69-63.5" style="height: 64.6px;">23.5-25</p>
                            <p class="content" data-size="34.29-35.56" style="height: 64.6px;">13.5-14</p>
                            <p class="content" data-size="80.01-83.82" style="height: 64.6px;">31.5-33</p>
                            <p class="content" data-size="86.36-90.17" style="height: 64.6px;">34-35.5</p>
                          </div>
                          {% endif %}
                          {% if value == 'S' %}
                          <div class="table-inner-row row-3" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            <p class="content" style="height: 64.6px;">04-06</p>
                            <p class="content" style="height: 64.6px;">06-08</p>
                            <p class="content" data-size="64.77-68.58" style="height: 64.6px;">25.5-27</p>
                            <p class="content" data-size="36.83-38.1" style="height: 64.6px;">14.5-15</p>
                            <p class="content" data-size="85.09-88.9" style="height: 64.6px;">33.5-35</p>
                            <p class="content" data-size="91.44-95.25" style="height: 64.6px;">36-37.5</p>
                          </div>
                          {% endif %}
                         {% if value == 'M' %}
                            <div class="table-inner-row row-4" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                              <p class="content" style="height: 64.6px;">08-10</p><p class="content" style="height: 64.6px;">10-12</p>
                              <p class="content" data-size="69.85-73.66" style="height: 64.6px;" cms="69.85-73.66" inches="27.5-29">27.5-29</p>
                              <p class="content" data-size="39.37-40.64" style="height: 64.6px;" cms="39.37-40.64" inches="15.5-16">15.5-16</p>
                              <p class="content" data-size="90.17-93.98" style="height: 64.6px;" cms="90.17-93.98" inches="35.5-37">35.5-37</p>
                              <p class="content" data-size="96.52-100.33" style="height: 64.6px;" cms="96.52-100.33" inches="38-39.5">38-39.5</p>
                            </div>
                          {% endif %}
                          {% if value == 'L-XL' %}
                          <div class="table-inner-row row-5" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            <p class="content" style="height: 64.6px;">12-16</p>
                            <p class="content" style="height: 64.6px;">14-18</p>
                            <p class="content" data-size="74.93-78.74" style="height: 64.6px;">29.5-33</p>
                            <p class="content" data-size="41.91-43.18" style="height: 64.6px;">16.5-18</p>
                            <p class="content" data-size="95.25-99.06" style="height: 64.6px;">37.5-41</p>
                            <p class="content" data-size="101.6-105.41" style="height: 64.6px;">40-43.5</p>
                          </div>
                          {% endif %}
                          {% if value == 'L' %}
                          <div class="table-inner-row row-6" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            <p class="content" style="height: 64.6px;">12-14</p>
                            <p class="content" style="height: 64.6px;">14-16</p>
                            <p class="content" data-size="74.93-78.74" style="height: 64.6px;">29.5-31</p>
                            <p class="content" data-size="41.91-43.18" style="height: 64.6px;">16.5-17</p>
                            <p class="content" data-size="95.25-99.06" style="height: 64.6px;">37.5-39</p>
                            <p class="content" data-size="101.6-105.41" style="height: 64.6px;">40-41.5</p>
                          </div>
                          {% endif %}
                          {% if value == 'XL' %}
                          <div class="table-inner-row row-7" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            <p class="content" style="height: 64.6px;">16</p>
                            <p class="content" style="height: 64.6px;">18</p>
                            <p class="content" data-size="80.01-83.82" style="height: 64.6px;">31.5-33</p>
                            <p class="content" data-size="44.45-45.72" style="height: 64.6px;">17.5-18</p>
                            <p class="content" data-size="100.33-104.14" style="height: 64.6px;">39.5-41</p>
                            <p class="content" data-size="106.68-110.49" style="height: 64.6px;">42-43.5</p>
                          </div>
                          {% endif %}
                          {% if value == 'L-XXL' %}
                          <div class="table-inner-row row-8" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            <p class="content" style="height: 64.6px;">16</p>
                            <p class="content" style="height: 64.6px;">18</p>
                            <p class="content" data-size="80.01-83.82" style="height: 64.6px;">31.5-33</p>
                            <p class="content" data-size="44.45-45.72" style="height: 64.6px;">17.5-18</p>
                            <p class="content" data-size="100.33-104.14" style="height: 64.6px;">39.5-41</p>
                            <p class="content" data-size="106.68-110.49" style="height: 64.6px;">42-43.5</p>
                          </div>
                          {% endif %}
                        {% if value == 'XXL-XXXL' %}
                        <div class="table-inner-row row-9" data-value="{{value | handleize}}" style="width: 59px;">
                          <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                          <p class="content" style="height: 64.6px;">16</p>
                          <p class="content" style="height: 64.6px;">18</p>
                          <p class="content" data-size="80.01-83.82" style="height: 64.6px;">31.5-33</p>
                          <p class="content" data-size="44.45-45.72" style="height: 64.6px;">17.5-18</p>
                          <p class="content" data-size="100.33-104.14" style="height: 64.6px;">39.5-41</p>
                          <p class="content" data-size="106.68-110.49" style="height: 64.6px;">42-43.5</p>
                        </div>
                        {% endif %}
                        
                         {% endunless %}
                        {% endfor %}
                      
                </div>
                </div>
            </div>
            <div class="size-table second-table-wrap" data-rows-count="6">
                <p class="table-title">Garment Measurements</p>
                <div class="table-inner-wrap">
                    <div class="bottom-rows-wrap">
                        <div class="table-inner-row row-0" data-value="size">
                            <p class="content" style="height: 64.6px;">Pinklay</p>
                            <p class="content" style="height: 64.6px;">total length</p>
                            <p class="content" style="height: 64.6px;">chest</p>
                            <p class="content" style="height: 64.6px;">waist</p>
                            <p class="content" style="height: 64.6px;">shoulder</p>
                            <p class="content" style="height: 64.6px;">sleeve length</p>
                        </div>
                      {% assign values = '' %}
                        {% for variant in product.variants %}
                          {% assign value = variant.options[0] %}
                          {% unless values contains value %}
                          {% assign values = values | join: ',' %}	
                          {% assign values = values | append: ',' | append: value %} 
                          {% assign values = values | split: ',' %}
                           
                            {% if value == 'S-M' %}
                              <div class="table-inner-row row-1" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="116.332" style="height: 64.6px;">45.8</p>
                                <p class="content" data-size="114.3" style="height: 64.6px;">45</p>
                                <p class="content" data-size="132.08" style="height: 64.6px;">52</p>
                                <p class="content" data-size="38.1" style="height: 64.6px;">15</p>
                                <p class="content" data-size="41.402" style="height: 64.6px;">16.3</p>
                              </div>
                            {% endif %}
                            {% if value == 'XS' %}
                              <div class="table-inner-row row-2" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="115.062" style="height: 64.6px;">45.3</p>
                                <p class="content" data-size="109.22" style="height: 64.6px;">43</p>
                                <p class="content" data-size="127.0" style="height: 64.6px;">50</p>
                                <p class="content" data-size="36.83" style="height: 64.6px;">14.5</p>
                                <p class="content" data-size="40.64" style="height: 64.6px;">16</p>
                              </div>
                            {% endif %}
                            {% if value == 'S' %}
                              <div class="table-inner-row row-3" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="116.332" style="height: 64.6px;">45.8</p>
                                <p class="content" data-size="114.3" style="height: 64.6px;">45</p>
                                <p class="content" data-size="132.08" style="height: 64.6px;">52</p>
                                <p class="content" data-size="38.1" style="height: 64.6px;">15</p>
                                <p class="content" data-size="41.402" style="height: 64.6px;">16.3</p>
                              </div>
                            {% endif %}
                            {% if value == 'M' %}
                              <div class="table-inner-row row-4" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="117.602" style="height: 64.6px;">46.3</p>
                                <p class="content" data-size="119.38" style="height: 64.6px;">47</p>
                                <p class="content" data-size="137.16" style="height: 64.6px;">54</p>
                                <p class="content" data-size="39.37" style="height: 64.6px;">15.5</p>
                                <p class="content" data-size="41.91" style="height: 64.6px;">16.5</p>
                              </div>
                            {% endif %}
                            {% if value == 'L-XL' %}
                              <div class="table-inner-row row-5" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="120.142" style="height: 64.6px;">47.3</p>
                                <p class="content" data-size="129.54" style="height: 64.6px;">51</p>
                                <p class="content" data-size="147.32" style="height: 64.6px;">58</p>
                                <p class="content" data-size="41.91" style="height: 64.6px;">16.5</p>
                                <p class="content" data-size="43.18" style="height: 64.6px;">17</p>
                              </div>
                            {% endif %}
                            {% if value == 'L' %}
                            <div class="table-inner-row row-6" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                              <p class="content" data-size="118.872" style="height: 64.6px;">46.8</p>
                              <p class="content" data-size="124.46" style="height: 64.6px;">49</p>
                              <p class="content" data-size="142.24" style="height: 64.6px;">56</p>
                              <p class="content" data-size="40.64" style="height: 64.6px;">16</p>
                              <p class="content" data-size="42.672" style="height: 64.6px;">16.8</p>
                            </div>
                            {% endif %}
                            {% if value == 'XL' %}
                            <div class="table-inner-row row-7" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                              <p class="content" data-size="120.142" style="height: 64.6px;">47.3</p>
                              <p class="content" data-size="129.54" style="height: 64.6px;">51</p>
                              <p class="content" data-size="147.32" style="height: 64.6px;">58</p>
                              <p class="content" data-size="41.91" style="height: 64.6px;">16.5</p>
                              <p class="content" data-size="43.18" style="height: 64.6px;">17</p>
                            </div>
                            {% endif %}
                            {% if value == 'L-XXL' %}
                            <div class="table-inner-row row-8" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                              <p class="content" data-size="120.142" style="height: 64.6px;">47.3</p>
                              <p class="content" data-size="129.54" style="height: 64.6px;">51</p>
                              <p class="content" data-size="147.32" style="height: 64.6px;">58</p>
                              <p class="content" data-size="41.91" style="height: 64.6px;">16.5</p>
                              <p class="content" data-size="43.18" style="height: 64.6px;">17</p>
                            </div>
                            {% endif %}
                            {% if value == 'XXL-XXXL' %}
                           <div class="table-inner-row row-9" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content" data-value="{{value}}" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                              <p class="content" data-size="120.142" style="height: 64.6px;">47.3</p>
                              <p class="content" data-size="129.54" style="height: 64.6px;">51</p>
                              <p class="content" data-size="147.32" style="height: 64.6px;">58</p>
                              <p class="content" data-size="41.91" style="height: 64.6px;">16.5</p>
                              <p class="content" data-size="43.18" style="height: 64.6px;">17</p>
                            </div>
                            {% endif %}
                            {% endunless %}
                        {% endfor %}
                      
                    </div>
                </div>
            </div>

        </div><h4 class="how-to-measure">How To Measure</h4>
          <div class="size-bottom-info"><div class="pdp-measure-img-box"><img src="https://cdn.shopify.com/s/files/1/0270/5129/4854/files/1570077707women-tops-desktop.svg?v=1603369094" class="desktop-image" alt="how to measure"><img src="https://cdn.shopify.com/s/files/1/0270/5129/4854/files/1570077708women-tops-mobile.svg?v=1603369175" class="mobile-image" alt="how to measure"></div></div>
          <div class="shopping-cart-listing"><h4>Our fit guide</h4><div class="size-fit-guide"><div class="size-fit-guide-thumb"><img src="https://cdn.shopify.com/s/files/1/0270/5129/4854/files/1504695017Kimono_Dotted_Top.jpg?v=1603369223"></div><div class="size-guide-detail"><h6>Fitted</h6><p>With just the slightest give, this silhouette tapers and sits close to the body.</p></div></div><div class="size-fit-guide"><div class="size-fit-guide-thumb"><img src="https://cdn.shopify.com/s/files/1/0270/5129/4854/files/1504695018Lovers_In_Japan_Plain_Top.jpg?v=1603369273"></div><div class="size-guide-detail"><h6>Fit &amp; Flare</h6><p>This silhouette is all about a play of form, with a fitted torso that gives way to a flared bottom. </p></div></div><div class="size-fit-guide"><div class="size-fit-guide-thumb"><img src="https://cdn.shopify.com/s/files/1/0270/5129/4854/files/15196683551504695020Patio_Top_-_Blue.jpg?v=1603369361"></div><div class="size-guide-detail"><h6>Regular</h6><p>Neither too slim nor too boxy, this fit is perfect for long days that roll into even longer nights.</p></div></div><div class="size-fit-guide"><div class="size-fit-guide-thumb"><img src="https://cdn.shopify.com/s/files/1/0270/5129/4854/files/1504695021Lantern_Top_-_Ivory.jpg?v=1603369402"></div><div class="size-guide-detail"><h6>A-Line</h6><p>This silhouette is fitted at the hips and gradually widens towards the hem, giving it a 50s retro vibe.</p></div></div><div class="size-fit-guide"><div class="size-fit-guide-thumb"><img src="https://cdn.shopify.com/s/files/1/0270/5129/4854/files/1504695023Small_Victory_Plain_Top.jpg?v=1603369439"></div><div class="size-guide-detail"><h6>Boxy/Anti fit</h6><p>A loose silhouette that moves with you and lets you breathe easy. </p></div></div></div></div>

      <div class="size-pdp-footer">
        <h2>Need help?</h2>
        <h4>CALL OR CHAT WITH US ON WHATSAPP</h4>
        
          
          <a href="https://wa.me/+918588000150" target="_blank">
            <p>+ 91 8588000150</p>
          </a>
        
        
        
          <a href="https://api.whatsapp.com/send?phone=+918588000151" target="_blank">
            <p>&nbsp;&nbsp;|&nbsp;&nbsp;+ 91 8588000151</p>
          </a>
         <p class="days-and-time">
            <span>MON - SAT</span>
            <span>9:00 AM TO 6:00 PM (IST)</span>
          </p></div>

      <div class="size-guide-button">
        <div class="btn-div">
          <input type="submit" name="add" class="btn" >
<!--           <div class="notify-wrap">
            <a href="#" class="notify-disable notifyme-button Button Button--full Button--primary" data-customer-email="">Notify Me</a>

            <div class="notify-email-input">
              <div class="notifyFormData">
                <input type="email" name="email_customer" id="email_customer" class="Form__Input" placeholder="Email, Please">
                <a href="#" class="getNotifyButton Button Button--primary" id="getNotifyButton"><span>Notify Me</span></a>
              </div>
              <span class="notify-error">Please add a valid email address</span>
            </div>
            <span class="notify-success">Thank You! We'll notify you once we have it back in stock.</span>
            <span class="notify-success-error">You have already registered for a notification for that item.</span>
          </div> -->
        </div>
      </div>
  </div>
</div>