<div class="pdp-size-popup" id="pdp-size-popup">
  <div class="popup-close"><svg class="Icon Icon--close" role="presentation" viewBox="0 0 16 14">
      <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
    </svg></div>
  <div class="main-size-container">
      <div class="size-popup-header">
        <h1 class="ProductMeta__Title Heading u-h2">{{product.title}}</h1>
        <div class="size-and-fit-wrapper">
          <ul>
            <p class="inner-title">Garment Style & Fit</p>
            {% if product.metafields.my_fields.size_chart_text_1 %}
            <li class="inner-details">{{product.metafields.my_fields.size_chart_text_1}}</li>
            {% endif %}
            {% if product.metafields.my_fields.size_chart_text_2 %}
            <li class="inner-details">{{product.metafields.my_fields.size_chart_text_2}}</li>
             {% endif %}
            {% if product.metafields.my_fields.size_chart_text_3 %}
            <li class="inner-details">{{product.metafields.my_fields.size_chart_text_3}}</li>
             {% endif %}
          </ul>
        </div>
    </div>

      <div class="size-popup-body">
        <div class="pdp-size-measure-toggle">
          <span>INCHES</span><label class="switch">
          <span class="slider-toogle-bx round active"></span>
          </label><span>CMS</span>
        </div>
        <div class="size-chart-inner-wrap">
        
<div class="size-table first-table-wrap" data-rows-count="6">
              <p class="table-title">Body Measurements</p>
              <div class="table-inner-wrap">
                <div class="radio-boxes">
                </div>
                      <div class="bottom-rows-wrap">
                        <div class="table-inner-row row-0" data-value="size">
                          <p class="content hide_line" style="height: 64.6px;">Pinklay</p>
                          <p class="content" style="height: 64.6px;">waist</p>
                          <p class="content" style="height: 64.6px;">shoulder</p>
                          <p class="content" style="height: 64.6px;">chest</p>
                        </div>
                        {% assign values = '' %}
                        {% for variant in product.variants %}
                          {% assign value = variant.options[0] %}
                          {% unless values contains value %}
                          {% assign values = values | join: ',' %}	
                          {% assign values = values | append: ',' | append: value %} 
                          {% assign values = values | split: ',' %}
                          {% if value == 'S-M' %}
                          <div class="table-inner-row row-1" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="1" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                           
                            <p class="content" data-size="59.69-63.5" style="height: 64.6px;">23.5-27</p>
                            <p class="content" data-size="34.29-35.56" style="height: 64.6px;">13.5-15</p>
                            <p class="content" data-size="80.01-83.82" style="height: 64.6px;">31.5-35</p>
                          </div>
                          {% endif %}
                          {% if value == 'XS' %}
                          <div class="table-inner-row row-2" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="2" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            
                            <p class="content" data-size="59.69-63.5" style="height: 64.6px;">23.5-25</p>
                            <p class="content" data-size="34.29-35.56" style="height: 64.6px;">13.5-14</p>
                            <p class="content" data-size="80.01-83.82" style="height: 64.6px;">31.5-33</p>
                          </div>
                          {% endif %}
                          {% if value == 'S' %}
                          <div class="table-inner-row row-3" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="3" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            
                            <p class="content" data-size="64.77-68.58" style="height: 64.6px;">25.5-27</p>
                            <p class="content" data-size="36.83-38.1" style="height: 64.6px;">14.5-15</p>
                            <p class="content" data-size="85.09-88.9" style="height: 64.6px;">33.5-35</p>
                          </div>
                          {% endif %}
                         {% if value == 'M' %}
                            <div class="table-inner-row row-4" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content hide_line" data-value="{{value}}" data-index="4" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                             
                              <p class="content" data-size="39.37-40.64" style="height: 64.6px;" cms="39.37-40.64" inches="15.5-16">15.5-16</p>
                              <p class="content" data-size="90.17-93.98" style="height: 64.6px;" cms="90.17-93.98" inches="35.5-37">35.5-37</p>
                              <p class="content" data-size="96.52-100.33" style="height: 64.6px;" cms="96.52-100.33" inches="38-39.5">38-39.5</p>
                            </div>
                          {% endif %}
                          {% if value == 'L-XL' %}
                          <div class="table-inner-row row-5" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="5" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                           
                            <p class="content" data-size="74.93-78.74" style="height: 64.6px;">29.5-33</p>
                            <p class="content" data-size="41.91-43.18" style="height: 64.6px;">16.5-18</p>
                            <p class="content" data-size="95.25-99.06" style="height: 64.6px;">37.5-41</p>
                          </div>
                          {% endif %}
                          {% if value == 'L' %}
                          <div class="table-inner-row row-6" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="6" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                           
                            <p class="content" data-size="74.93-78.74" style="height: 64.6px;">29.5-31</p>
                            <p class="content" data-size="41.91-43.18" style="height: 64.6px;">16.5-17</p>
                            <p class="content" data-size="95.25-99.06" style="height: 64.6px;">37.5-39</p>
                          </div>
                          {% endif %}
                          {% if value == 'XL' %}
                          <div class="table-inner-row row-7" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="7" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            
                            <p class="content" data-size="80.01-83.82" style="height: 64.6px;">31.5-33</p>
                            <p class="content" data-size="44.45-45.72" style="height: 64.6px;">17.5-18</p>
                            <p class="content" data-size="100.33-104.14" style="height: 64.6px;">39.5-41</p>
                          </div>
                          {% endif %}
                          {% if value == 'L-XXL' %}
                          <div class="table-inner-row row-8" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="8" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                           
                            <p class="content" data-size="80.01-83.82" style="height: 64.6px;">31.5-33</p>
                            <p class="content" data-size="44.45-45.72" style="height: 64.6px;">17.5-18</p>
                            <p class="content" data-size="100.33-104.14" style="height: 64.6px;">39.5-41</p>
                          </div>
                          {% endif %}
                        {% if value == 'XXL-XXXL' %}
                        <div class="table-inner-row row-9" data-value="{{value | handleize}}" style="width: 59px;">
                          <p class="content hide_line" data-value="{{value}}" data-index="9" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                          
                          <p class="content" data-size="80.01-83.82" style="height: 64.6px;">31.5-33</p>
                          <p class="content" data-size="44.45-45.72" style="height: 64.6px;">17.5-18</p>
                          <p class="content" data-size="100.33-104.14" style="height: 64.6px;">39.5-41</p>
                        </div>
                        {% endif %}
                        
                         {% endunless %}
                        {% endfor %}
                      
                </div>
                </div>
            </div>
            <div class="size-table second-table-wrap" data-rows-count="6">
                <p class="table-title">Garment Measurements</p>
                <div class="table-inner-wrap">
                   <div class="radio-boxes">
                </div>
                    <div class="bottom-rows-wrap">
                        <div class="table-inner-row row-0" data-value="size">
                           <p class="content" style="height: 64.6px;">Pinklay</p>
                            <p class="content" style="height: 64.6px;">chest</p>
                            <p class="content" style="height: 64.6px;">waist</p>
                            <p class="content" style="height: 64.6px;">shoulder</p>
                        </div>
                      {% assign values = '' %}
                        {% for variant in product.variants %}
                          {% assign value = variant.options[0] %}
                          {% unless values contains value %}
                          {% assign values = values | join: ',' %}	
                          {% assign values = values | append: ',' | append: value %} 
                          {% assign values = values | split: ',' %}
                           
                            {% if value == 'S-M' %}
                              <div class="table-inner-row row-1" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-index="1" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="114.3" style="height: 64.6px;">45</p>
                                <p class="content" data-size="132.08" style="height: 64.6px;">52</p>
                                <p class="content" data-size="38.1" style="height: 64.6px;">15</p>
                              </div>
                            {% endif %}
                            {% if value == 'XS' %}
                              <div class="table-inner-row row-2" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-index="2" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="109.22" style="height: 64.6px;">43</p>
                                <p class="content" data-size="127.0" style="height: 64.6px;">50</p>
                                <p class="content" data-size="36.83" style="height: 64.6px;">14.5</p>
                              </div>
                            {% endif %}
                            {% if value == 'S' %}
                              <div class="table-inner-row row-3" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-index="3" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="114.3" style="height: 64.6px;">45</p>
                                <p class="content" data-size="132.08" style="height: 64.6px;">52</p>
                                <p class="content" data-size="38.1" style="height: 64.6px;">15</p>
                              </div>
                            {% endif %}
                            {% if value == 'M' %}
                              <div class="table-inner-row row-4" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-index="4" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="119.38" style="height: 64.6px;">47</p>
                                <p class="content" data-size="137.16" style="height: 64.6px;">54</p>
                                <p class="content" data-size="39.37" style="height: 64.6px;">15.5</p>
                              </div>
                            {% endif %}
                            {% if value == 'L-XL' %}
                              <div class="table-inner-row row-5" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-index="5" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="129.54" style="height: 64.6px;">51</p>
                                <p class="content" data-size="147.32" style="height: 64.6px;">58</p>
                                <p class="content" data-size="41.91" style="height: 64.6px;">16.5</p>
                              </div>
                            {% endif %}
                            {% if value == 'L' %}
                            <div class="table-inner-row row-6" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content" data-value="{{value}}" data-index="6" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                              <p class="content" data-size="124.46" style="height: 64.6px;">49</p>
                              <p class="content" data-size="142.24" style="height: 64.6px;">56</p>
                              <p class="content" data-size="40.64" style="height: 64.6px;">16</p>
                            </div>
                            {% endif %}
                            {% if value == 'XL' %}
                            <div class="table-inner-row row-7" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content" data-value="{{value}}" data-index="7" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                              <p class="content" data-size="129.54" style="height: 64.6px;">51</p>
                              <p class="content" data-size="147.32" style="height: 64.6px;">58</p>
                              <p class="content" data-size="41.91" style="height: 64.6px;">16.5</p>
                            </div>
                            {% endif %}
                            {% if value == 'L-XXL' %}
                            <div class="table-inner-row row-8" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content" data-value="{{value}}" data-index="8" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                              <p class="content" data-size="129.54" style="height: 64.6px;">51</p>
                              <p class="content" data-size="147.32" style="height: 64.6px;">58</p>
                              <p class="content" data-size="41.91" style="height: 64.6px;">16.5</p>
                            </div>
                            {% endif %}
                            {% if value == 'XXL-XXXL' %}
                           <div class="table-inner-row row-9" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content" data-value="{{value}}" data-index="9" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                              <p class="content" data-size="129.54" style="height: 64.6px;">51</p>
                              <p class="content" data-size="147.32" style="height: 64.6px;">58</p>
                              <p class="content" data-size="41.91" style="height: 64.6px;">16.5</p>
                            </div>
                            {% endif %}
                            {% endunless %}
                        {% endfor %}
                      
                    </div>
                </div>
            </div>
           <div class="size-table second-table-wrap" data-rows-count="6">
                <p class="table-title">International Sizes</p>
                <div class="table-inner-wrap">
                   <div class="radio-boxes">
                </div>
                    <div class="bottom-rows-wrap">
                        <div class="table-inner-row row-0" data-value="size">
                           <p class="content" style="height: 64.6px;">Pinklay</p>
                            <p class="content" style="height: 64.6px;">US</p>
                            <p class="content" style="height: 64.6px;">UK</p>
                        </div>
                      {% assign values = '' %}
                        {% for variant in product.variants %}
                          {% assign value = variant.options[0] %}
                          {% unless values contains value %}
                          {% assign values = values | join: ',' %}	
                          {% assign values = values | append: ',' | append: value %} 
                          {% assign values = values | split: ',' %}
                           
                            {% if value == 'S-M' %}
                              <div class="table-inner-row row-1" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-index="1" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="114.3" style="height: 64.6px;">45</p>
                                <p class="content" data-size="132.08" style="height: 64.6px;">52</p>
                              </div>
                            {% endif %}
                            {% if value == 'XS' %}
                              <div class="table-inner-row row-2" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-index="2" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="109.22" style="height: 64.6px;">43</p>
                                <p class="content" data-size="127.0" style="height: 64.6px;">50</p>
                              </div>
                            {% endif %}
                            {% if value == 'S' %}
                              <div class="table-inner-row row-3" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-index="3" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="114.3" style="height: 64.6px;">45</p>
                                <p class="content" data-size="132.08" style="height: 64.6px;">52</p>
                              </div>
                            {% endif %}
                            {% if value == 'M' %}
                              <div class="table-inner-row row-4" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-index="4" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="119.38" style="height: 64.6px;">47</p>
                                <p class="content" data-size="137.16" style="height: 64.6px;">54</p>
                              </div>
                            {% endif %}
                            {% if value == 'L-XL' %}
                              <div class="table-inner-row row-5" data-value="{{value | handleize}}" style="width: 59px;">
                                <p class="content" data-value="{{value}}" data-index="5" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                                <p class="content" data-size="129.54" style="height: 64.6px;">51</p>
                                <p class="content" data-size="147.32" style="height: 64.6px;">58</p>
                              </div>
                            {% endif %}
                            {% if value == 'L' %}
                            <div class="table-inner-row row-6" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content" data-value="{{value}}" data-index="6" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                              <p class="content" data-size="124.46" style="height: 64.6px;">49</p>
                              <p class="content" data-size="142.24" style="height: 64.6px;">56</p>
                            </div>
                            {% endif %}
                            {% if value == 'XL' %}
                            <div class="table-inner-row row-7" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content" data-value="{{value}}" data-index="7" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                              <p class="content" data-size="129.54" style="height: 64.6px;">51</p>
                              <p class="content" data-size="147.32" style="height: 64.6px;">58</p>
                            </div>
                            {% endif %}
                            {% if value == 'L-XXL' %}
                            <div class="table-inner-row row-8" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content" data-value="{{value}}" data-index="8" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                              <p class="content" data-size="129.54" style="height: 64.6px;">51</p>
                              <p class="content" data-size="147.32" style="height: 64.6px;">58</p>
                            </div>
                            {% endif %}
                            {% if value == 'XXL-XXXL' %}
                           <div class="table-inner-row row-9" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content" data-value="{{value}}" data-index="9" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                              <p class="content" data-size="129.54" style="height: 64.6px;">51</p>
                              <p class="content" data-size="147.32" style="height: 64.6px;">58</p>
                            </div>
                            {% endif %}
                            {% endunless %}
                        {% endfor %}
                      
                    </div>
                </div>
            </div>

        </div><h4 class="how-to-measure">How To Measure</h4>
          <div class="size-bottom-info"><div class="pdp-measure-img-box"><img src="https://cdn.shopify.com/s/files/1/0270/5129/4854/files/1570077707women-tops-desktop.svg?v=1603369094" class="desktop-only" alt="how to measure"><img src="https://cdn.shopify.com/s/files/1/0270/5129/4854/files/1570077708women-tops-mobile.svg?v=1603369175" class="mobile-only" alt="how to measure"></div></div>

        <div class="size-pdp-footer">
         



          <h2> Need Help Selecting the Right Size?</h2>
          <ul>
            <li>Call / WhatsApp Us: +91-9987752369</li>
            <li>E-Mail: care@pinklay.com</li>
            <li>Timings: Mon-Sat, 09:30AM – 06:30PM</li>
          </ul>

        </div>

      <div class="size-guide-button">
        <div class="btn-div">
          <input type="submit" name="add" class="btn" >
        </div>
        <div class="btn-div2">
          {% form 'product', product, id: "add-to-cart-form" %}
        {% include 'iStock-notify-me' %}
          {% endform %}
        </div>
      </div>
  </div>
</div>