<div class="pdp-size-popup" id="pdp-size-popup">
  <div class="popup-close"><svg class="Icon Icon--close" role="presentation" viewBox="0 0 16 14">
      <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
    </svg></div>
  <div class="main-size-container">
      <div class="size-popup-header">
        <h1 class="ProductMeta__Title Heading u-h2">{{product.title}}</h1>
        <div class="size-and-fit-wrapper">
          <ul>
            {% if product.metafields.my_fields.garment_style_fit %}
            <p class="inner-title">Garment Style & Fit</p>
            {% if product.metafields.my_fields.size_chart_text_1 %}
            <li class="inner-details">{{product.metafields.my_fields.size_chart_text_1}}</li>
            {% endif %}
            {% if product.metafields.my_fields.size_chart_text_2 %}
            <li class="inner-details">{{product.metafields.my_fields.size_chart_text_2}}</li>
             {% endif %}
            {% if product.metafields.my_fields.size_chart_text_3 %}
            <li class="inner-details">{{product.metafields.my_fields.size_chart_text_3}}</li>
             {% endif %}
            {% endif %}
          </ul>
        </div>
    </div>

      <div class="size-popup-body">
        <div class="pdp-size-measure-toggle">
          <span>INCHES</span><label class="switch">
          <span class="slider-toogle-bx round active"></span>
          </label><span>CMS</span>
        </div>
       
         
        <div class="size-chart-inner-wrap">
 {% if product.metafields.my_fields.body_measurements %}
          {% assign bodycolumns = block.settings.body_column | split:"," %}
          {% assign bodyraws = block.settings.body_rows | split:"," %}
          {% assign bvalue_1 = block.settings.bvalue_1 | split:"," %}
          {% assign bvalue_2 = block.settings.bvalue_2 | split:"," %}
          {% assign bvalue_3 = block.settings.bvalue_3 | split:"," %}
          {% assign bvalue_4 = block.settings.bvalue_4 | split:"," %}
          {% assign bvalue_5 = block.settings.bvalue_5 | split:"," %}
          {% assign bvalue_6 = block.settings.bvalue_6 | split:"," %}
          {% assign bvalue_7 = block.settings.bvalue_7 | split:"," %}
          {% assign bvalue_8 = block.settings.bvalue_8 | split:"," %}
          {% assign bvalue_9 = block.settings.bvalue_9 | split:"," %}
          {% assign bvalue_10 = block.settings.bvalue_10 | split:"," %}
        <p class="table-title">Body Measurements</p>
<div class="size-table first-table-wrap" data-rows-count="6" >
             
              <div class="table-inner-wrap">
                <div class="radio-boxes radio-boxes1">
                </div>
                      <div class="bottom-rows-wrap">
                        <div class="table-inner-row row-0" data-value="size" >
                          <p class="content hide_line" style="height: 64.6px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            {% for column in bodycolumns %}
                              <p class="content" style="height: 64.6px;">{{column}}</p>
                            {% endfor %}
                        </div>
                        {% assign values = '' %}
                        {% for variant in product.variants %}
                          {% assign value = variant.options[0] %}
                          {% unless values contains value %}
                          {% assign values = values | join: ',' %}	
                          {% assign values = values | append: ',' | append: value %} 
                          {% assign values = values | split: ',' %}
                          {% if value == bodyraws[0] %}
                          <div class="table-inner-row row-1" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="1" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            {% for vbvalue in bvalue_1 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == bodyraws[1] %}
                          <div class="table-inner-row row-2" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="2" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            
                            {% for vbvalue in bvalue_2 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == bodyraws[2] %}
                          <div class="table-inner-row row-3" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="3" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            {% for vbvalue in bvalue_3 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                         {% if value == bodyraws[3] %}
                            <div class="table-inner-row row-4" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content hide_line" data-value="{{value}}" data-index="4" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                             
                              {% for vbvalue in bvalue_4 %}
                              {% assign valuesplit = vbvalue | split:"-" %}
                              {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                              {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                              <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                              {% endfor %}   
                            </div>
                          {% endif %}
                          {% if value == bodyraws[4] %}
                          <div class="table-inner-row row-5" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="5" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                           
                            {% for vbvalue in bvalue_5 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == bodyraws[5] %}
                          <div class="table-inner-row row-6" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="6" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                           
                            {% for vbvalue in bvalue_6 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == bodyraws[6] %}
                          <div class="table-inner-row row-7" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="7" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            
                            {% for vbvalue in bvalue_7 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == bodyraws[7] %}
                          <div class="table-inner-row row-8" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="8" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                           
                            {% for vbvalue in bvalue_8 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                        {% if value == bodyraws[8] %}
                        <div class="table-inner-row row-9" data-value="{{value | handleize}}" style="width: 59px;">
                          <p class="content hide_line" data-value="{{value}}" data-index="9" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                          
                          {% for vbvalue in bvalue_9 %}
                          {% assign valuesplit = vbvalue | split:"-" %}
                          {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                          {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                          <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                          {% endfor %}
                        </div>
                        {% endif %}
                         {% if value == bodyraws[9] %}
                        <div class="table-inner-row row-10" data-value="{{value | handleize}}" style="width: 59px;">
                          <p class="content hide_line" data-value="{{value}}" data-index="10" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                          
                          {% for vbvalue in bvalue_10 %}
                          {% assign valuesplit = vbvalue | split:"-" %}
                          {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                          {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                          <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                          {% endfor %}
                        </div>
                        {% endif %}
                        
                         {% endunless %}
                        {% endfor %}
                      
                </div>
                </div>
            </div>
          {% endif %}
          {% if product.metafields.my_fields.garment_measurements %}
          {% assign garmentcolumns = block.settings.garment_column | split:"," %}
          {% assign garmentraws = block.settings.garment_rows | split:"," %}
          {% assign gvalue_1 = block.settings.gvalue_1 | split:"," %}
          {% assign gvalue_2 = block.settings.gvalue_2 | split:"," %}
          {% assign gvalue_3 = block.settings.gvalue_3 | split:"," %}
          {% assign gvalue_4 = block.settings.gvalue_4 | split:"," %}
          {% assign gvalue_5 = block.settings.gvalue_5 | split:"," %}
          {% assign gvalue_6 = block.settings.gvalue_6 | split:"," %}
          {% assign gvalue_7 = block.settings.gvalue_7 | split:"," %}
          {% assign gvalue_8 = block.settings.gvalue_8 | split:"," %}
          {% assign gvalue_9 = block.settings.gvalue_9 | split:"," %}
          {% assign gvalue_10 = block.settings.gvalue_10 | split:"," %}
          <p class="table-title">Garment Measurements</p>
            <div class="size-table second-table-wrap" data-rows-count="6" >
                
                <div class="table-inner-wrap">
                   <div class="radio-boxes radio-boxes2">
                </div>
                    <div class="bottom-rows-wrap">
                        <div class="table-inner-row row-0" data-value="size">
                           <p class="content hide_line" style="height: 64.6px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                          {% for column in garmentcolumns %}
                          <p class="content" style="height: 64.6px;">{{column}}</p>
                          {% endfor %}
                        </div>
                       {% assign values = '' %}
                        {% for variant in product.variants %}
                          {% assign value = variant.options[0] %}
                          {% unless values contains value %}
                          {% assign values = values | join: ',' %}	
                          {% assign values = values | append: ',' | append: value %} 
                          {% assign values = values | split: ',' %}
                          {% if value == garmentraws[0] %}
                          <div class="table-inner-row row-1" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="1" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            {% for vbvalue in gvalue_1 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == garmentraws[1] %}
                          <div class="table-inner-row row-2" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="2" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            
                            {% for vbvalue in gvalue_2 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == garmentraws[2] %}
                          <div class="table-inner-row row-3" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="3" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            {% for vbvalue in gvalue_3 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                         {% if value == garmentraws[3] %}
                            <div class="table-inner-row row-4" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content hide_line" data-value="{{value}}" data-index="4" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                             
                              {% for vbvalue in gvalue_4 %}
                              {% assign valuesplit = vbvalue | split:"-" %}
                              {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                              {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                              <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                              {% endfor %}   
                            </div>
                          {% endif %}
                          {% if value == garmentraws[4] %}
                          <div class="table-inner-row row-5" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="5" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                           
                            {% for vbvalue in gvalue_5 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == garmentraws[5] %}
                          <div class="table-inner-row row-6" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="6" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                           
                            {% for vbvalue in gvalue_6 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == garmentraws[6] %}
                          <div class="table-inner-row row-7" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="7" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            
                            {% for vbvalue in gvalue_7 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == garmentraws[7] %}
                          <div class="table-inner-row row-8" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="8" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                           
                            {% for vbvalue in gvalue_8 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                        {% if value == garmentraws[8] %}
                        <div class="table-inner-row row-9" data-value="{{value | handleize}}" style="width: 59px;">
                          <p class="content hide_line" data-value="{{value}}" data-index="9" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                          
                          {% for vbvalue in gvalue_9 %}
                          {% assign valuesplit = vbvalue | split:"-" %}
                          {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                          {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                          <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                          {% endfor %}
                        </div>
                        {% endif %}
                         {% if value == garmentraws[9] %}
                        <div class="table-inner-row row-10" data-value="{{value | handleize}}" style="width: 59px;">
                          <p class="content hide_line" data-value="{{value}}" data-index="10" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                          
                          {% for vbvalue in gvalue_10 %}
                          {% assign valuesplit = vbvalue | split:"-" %}
                          {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                          {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                          <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                          {% endfor %}
                        </div>
                        {% endif %}
                        
                         {% endunless %}
                        {% endfor %}
                      
                    </div>
                </div>
            </div>
          {% endif %}
          {% if product.metafields.my_fields.international_sizes %}
          {% assign intlcolumns = block.settings.intl_column | split:"," %}
          {% assign intlraws = block.settings.intl_rows | split:"," %}
          {% assign mvalue_1 = block.settings.mvalue_1 | split:"," %}
          {% assign mvalue_2 = block.settings.mvalue_2 | split:"," %}
          {% assign mvalue_3 = block.settings.mvalue_3 | split:"," %}
          {% assign mvalue_4 = block.settings.mvalue_4 | split:"," %}
          {% assign mvalue_5 = block.settings.mvalue_5 | split:"," %}
          {% assign mvalue_6 = block.settings.mvalue_6 | split:"," %}
          {% assign mvalue_7 = block.settings.mvalue_7 | split:"," %}
          {% assign mvalue_8 = block.settings.mvalue_8 | split:"," %}
          {% assign mvalue_9 = block.settings.mvalue_9 | split:"," %}
          {% assign mvalue_10 = block.settings.mvalue_10 | split:"," %}
<p class="table-title">International Sizes</p>
          <div class="size-table second-table-wrap" data-rows-count="6">
                
                <div class="table-inner-wrap">
                   <div class="radio-boxes radio-boxes3">
                </div>
                    <div class="bottom-rows-wrap">
                        <div class="table-inner-row row-0" data-value="size">
                           <p class="content hide_line" style="height: 64.6px;">Pinklay</p>
                          {% for column in intlcolumns %}
                          <p class="content" style="height: 64.6px;">{{column}}</p>
                          {% endfor %}
                        </div>
                     {% assign values = '' %}
                        {% for variant in product.variants %}
                          {% assign value = variant.options[0] %}
                          {% unless values contains value %}
                          {% assign values = values | join: ',' %}	
                          {% assign values = values | append: ',' | append: value %} 
                          {% assign values = values | split: ',' %}
                          {% if value == intlraws[0] %}
                          <div class="table-inner-row row-1" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="1" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            {% for vbvalue in mvalue_1 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == intlraws[1] %}
                          <div class="table-inner-row row-2" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="2" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            
                            {% for vbvalue in mvalue_2 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == intlraws[2] %}
                          <div class="table-inner-row row-3" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="3" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            {% for vbvalue in mvalue_3 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                         {% if value == intlraws[3] %}
                            <div class="table-inner-row row-4" data-value="{{value | handleize}}" style="width: 59px;">
                              <p class="content hide_line" data-value="{{value}}" data-index="4" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                             
                              {% for vbvalue in mvalue_4 %}
                              {% assign valuesplit = vbvalue | split:"-" %}
                              {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                              {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                              <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                              {% endfor %}   
                            </div>
                          {% endif %}
                          {% if value == intlraws[4] %}
                          <div class="table-inner-row row-5" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="5" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                           
                            {% for vbvalue in mvalue_5 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == intlraws[5] %}
                          <div class="table-inner-row row-6" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="6" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                           
                            {% for vbvalue in mvalue_6 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == intlraws[6] %}
                          <div class="table-inner-row row-7" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="7" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                            
                            {% for vbvalue in mvalue_7 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                          {% if value == intlraws[7] %}
                          <div class="table-inner-row row-8" data-value="{{value | handleize}}" style="width: 59px;">
                            <p class="content hide_line" data-value="{{value}}" data-index="8" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                           
                            {% for vbvalue in mvalue_8 %}
                            {% assign valuesplit = vbvalue | split:"-" %}
                            {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                            {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                            <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                            {% endfor %}
                          </div>
                          {% endif %}
                        {% if value == intlraws[8] %}
                        <div class="table-inner-row row-9" data-value="{{value | handleize}}" style="width: 59px;">
                          <p class="content hide_line" data-value="{{value}}" data-index="9" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                          
                          {% for vbvalue in mvalue_9 %}
                          {% assign valuesplit = vbvalue | split:"-" %}
                          {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                          {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                          <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                          {% endfor %}
                        </div>
                        {% endif %}
                         {% if value == intlraws[9] %}
                        <div class="table-inner-row row-10" data-value="{{value | handleize}}" style="width: 59px;">
                          <p class="content hide_line" data-value="{{value}}" data-index="10" data-value-handle="{{value | handleize}}" style="height: 64.6px;">{{value}}</p>
                          
                          {% for vbvalue in mvalue_10 %}
                          {% assign valuesplit = vbvalue | split:"-" %}
                          {% assign mincent0 = valuesplit[0] | plus:0 | times:2.54 %}
                          {% assign mincent1 = valuesplit[1] | plus:0 | times:2.54 %}
                          
                          <p class="content" data-size="{{mincent0}}{% if mincent1 != 0 %}-{{mincent1}}{% endif %}" style="height: 64.6px;">{{vbvalue}}</p>
                          {% endfor %}
                        </div>
                        {% endif %}
                        
                         {% endunless %}
                        {% endfor %}
                      
                    </div>
                </div>
            </div>
          {% endif %}

        </div><h4 class="how-to-measure">How To Measure</h4>
          <div class="size-bottom-info">
            <div class="pdp-measure-img-box">
                <img src="{{block.settings.chart_image | img_url:"master" }}" alt="how to measure">
            </div>
        </div>

        <div class="size-pdp-footer">
         



          <h2> Need Help Selecting the Right Size?</h2>
          <ul>
            <li>Call / WhatsApp Us: +91-9987752369</li>
            <li>E-Mail: care@pinklay.com</li>
            <li>Timings: Mon-Sat, 09:30AM – 06:30PM</li>
          </ul>

        </div>

      <div class="size-guide-button">
        <div class="btn-div">
          <input type="submit" name="add" class="btn" >
        </div>
        <div class="btn-div2">
          {% form 'product', product, id: "add-to-cart-form" %}
        {% include 'iStock-notify-me' %}
          {% endform %}
        </div>
      </div>
  </div>
</div>