<div class="sticky_form">
  {% form 'product', product, id: "form-sticky" %}
  
  {% if product.description contains '[countdown]' %}            
  {% assign count_down_first = product.description | split:'[/countdown]' | first %}
  {% assign count_down_final = count_down_first | split:'[countdown]' | last %}
  <div class="sticky-countdown sticky-item">
    <div class="sticky_text">{% include 'multilang' with settings.text_countdown %}</div>
    <div id="sticky_clock"></div>
  </div>
      
  <script>
    $(document ).ready(function() {
      $("#sticky_clock").countdown('{{ count_down_final }}', function(event) {
       $(this).html(event.strftime(''+ '<span>%D</span>D  :  '+ '<span>%H</span>H  :  '+ '<span>%M</span>M  :  '+ '<span>%S</span>S'));
    });
   });
  </script>
  {% endif %}

  <div class="pr-img sticky-item">
    <img src="{{ product.featured_image.src  | product_img_url: '100x' }}" alt="">
  </div>
  
  {% assign variantCount = product.variants | size %}
  {% if variantCount > 1 %} 
  <div class="pr-selectors sticky-item">

    <a href="javascript:void(0)" class="pr-active" data-value="{{ product.variants[0].id }}">
      {{ product.variants[0].title }} - {{ product.variants[0].price | money }}
    </a>

    <ul>
      {% for variant in product.variants %}
      {% assign value = variant.options[option_index] %}
      <li>
        <a {% if variant.image != null %} data-img="{{ variant.image.src | product_img_url: '100x' }}"{% endif %} data-value="{{ variant.id }}" class="pr-swatch {% if variant.available == false %}sold-out{% endif %}" {% if variant.available == false %}disabled="disabled"{% endif %} href="javascript:void(0)">{{ variant.title }} - {{ variant.price | money }}</a>
      </li>
      {% endfor %}
    </ul>

  </div>
  {% endif %}
  
  <div class="extra qty-group item">
    <a href="javascript:void(0)" class="sticky_dec dec button"></a>
    <input class="number" name="quantity" value="1" min="1">
    <a href="javascript:void(0)" class="sticky_inc inc button"></a>
  </div>

  <div class="action sticky-item" data-handle="/collections/{{collection.handle}}?view=related">

    {% if product.available %} 

    <input type="hidden" name="id" value="{{ product.variants[0].id }}" />      
    <input class="btn sticky-add-to-cart" type="submit" value="{{ 'products.product.add_to_cart' | t }}" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{% endif %}/>

    {% else %}

    <input type="submit" name="add" class="btn sticky-add-to-cart" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{% endif %} disabled value="{{ 'products.product.unavailable' | t }}">  

    {% endif %}

  </div>

  {% endform %}
  
</div>
