<style>
  @media (max-width:768px)
  {
    div#email-modal{
     display:block !important;
    }
    
    .modal-window{
      display:block !important;
    }
  }
</style>

{% if settings.display_popup_newsletter %}
<script type="text/javascript">
  $(function() {       

    $('#upsell-modal .modal-overlay').on('click', function(){
      closeupsellModalWindow ();
    }),
    jQuery('#upsell-modal .btn.close').click(function(e) {
      e.preventDefault();
      if ($('input[name=dismiss]').is(':checked')) {
        closeupsellwrapperModalWindow();
      } else {
        closeupsellModalWindow();
      }
    });

    jQuery('body').keydown(function(e) {
      if( e.which == 27) {
        closeupsellModalWindow();
        jQuery('body').unbind('keydown');
      }
    });

    function closeupsellwrapperModalWindow () {
      jQuery('#upsell-modal .modal-window').fadeOut(600, function() {
        jQuery('#upsell-modal .modal-overlay').fadeOut(600, function() {
          jQuery('#upsell-modal').hide();
//           var exprietime = new Date();
//   			exprietime.setTime(exprietime.getTime() + (60 * 60 * 1000));
//           jQuery.cookie('emailSubcribeModal', 'closed', {expires: exprietime, path:'/'});
        });
      })
    }

    function closeupsellModalWindow () {
      jQuery('#upsell-modal .modal-window').fadeOut(600, function() {
        jQuery('#upsell-modal .modal-overlay').fadeOut(600, function() {
          jQuery('#upsell-modal').hide();
//            var exprietime = new Date();
//   			exprietime.setTime(exprietime.getTime() + (60 * 60 * 1000));
//           jQuery.cookie('emailSubcribeModal', 'closed', {expires: exprietime, path:'/'});
        });
      })
    }
    function openupsellModalWindow () {
        jQuery('#upsell-modal').fadeIn(600, function() {
          jQuery('#upsell-modal .modal-window').fadeIn(600);
        });
    }

    
//$('#desktopnewsletter input[name=subscribe]').click(function(){
    // closeEmailModalWindow();
     // });
  });
  

  
  
  
</script>
<div class="upsellproductwrapper">
  <div id="upsell-modal" style="display: none;">
    <div class="modal-overlay"></div>
    <div class="modal-window" style="display: none;">
      <div class="window-window">
        <div class="window-content">
          <a href="javascript:void(0)" class="btn close" title="{{ 'cart.ajax_cart.close' | t }}">{% include 'icon-close' %}</a>
          <div class="content-popup">

            <div class="left">
              <h2 class="title">{% include 'multilang' with settings.popup_newsletter_title %}</h2>
              <p class="sub-title">{% include 'multilang' with settings.popup_newsletter_sub_title %}</p>
              <div id="mailchimp-email-subscibe">
                <div id="mc_embed_signup">{% include 'newsletter-form' %}</div>
              </div>
              <div class="message">{% include 'multilang' with settings.popup_newsletter_message %}</div>
              {% if settings.display_popup_social %}
              <div class="icon-social">
                {% include 'social-media' %}
              </div>
              {% endif %}
<!--
              <div class="show_popup">
                <label><input type="checkbox" name="dismiss"><span>Don't show again!</span></label>
              </div> -->
            </div>


            <div class="right">
              {% if settings.newsletter != blank %}
              {%- assign img_url = settings.newsletter | img_url: '600x' -%}
              <div class="lazy-images" style="background-image:url({{img_url}})">
                <noscript>
                  <img src="{{img_url}}" alt="{{ block.settings.header_silde }}" title="{{ block.settings.header_silde }}" >
                </noscript>
              </div>
              {% else %}	
              <span class="not_img">319 x 360px</span> 
              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
