<div class="wishlist-page">
  <div class="container">
    
    <div class="wishlist-header">
      <div class="row">
        <div class="col-md-2">
          <span data-translate="wishlist.general.product_image">{{ 'wishlist.general.product_image' | t }}</span>
        </div>
        <div class="col-md-4">
          <span data-translate="wishlist.general.product_name">{{ 'wishlist.general.product_name' | t }}</span>
        </div>
        <div class="col-md-2">
          <span data-translate="wishlist.general.unit_price"> {{ 'wishlist.general.unit_price' | t }}</span>
        </div>
        <div class="col-md-2" data-translate="wishlist.general.add_to_wishlist">
          <span data-translate="wishlist.general.add_to_wishlist">{{ 'wishlist.general.add_to_wishlist' | t }}</span>
        </div>
        <div class="col-md-2">
          <span data-translate="cart.general.remove">{{ 'cart.general.remove' | t }}</span>
        </div>
      </div>
    </div>
    
    <div class="wishlist-content">

    </div>
    
  </div>
</div>