<footer class="footer footer-2">
  <div class="footer-top">
    <div class="container">      
      {% if section.settings.footer_newsletter_enable %}
      <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
          <div class="footer-newsletter">
            <h3>
              {% include 'multilang' with section.settings.footer_newsletter_text %}
            </h3>
            <div class="des">
              {% include 'multilang' with  section.settings.des_newsletter %}
            </div>
            {% include 'homepage-block-newsletter' %}
          </div>
        </div>
      </div>     
      {% endif %}
      
      <div class="footer-col">
        <div class="row">
          <div class="col-6 col-md-4 column-footer"> 
            {% if section.settings.footer_title_1 != blank %}
            <h3>
              {% include 'multilang' with section.settings.footer_title_1 %}
            </h3>
            {% endif %}

            {%- assign footer_linklist = section.settings.footer_linklist_1 -%}
            {% if linklists[footer_linklist].links.size > 0 %}
            <ul>
              {% for link in linklists[footer_linklist].links %}
              <li>
                <a href="{{ link.url}}">
                  {% include 'multilang' with link.title %}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          
          <div class="col-6 col-md-4 column-footer"> 
            {% if section.settings.footer_title_2 != blank %}
            <h3>
              {% include 'multilang' with section.settings.footer_title_2 %}
            </h3>
            {% endif %}

            {%- assign footer_linklist = section.settings.footer_linklist_2 -%}
            {% if linklists[footer_linklist].links.size > 0 %}
            <ul>
              {% for link in linklists[footer_linklist].links %}
              <li>
                <a href="{{ link.url}}">
                  {% include 'multilang' with link.title %}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          
          <div class="col-6 col-md-4 column-footer"> 
            {% if section.settings.footer_title_3 != blank %}
            <h3>
              {% include 'multilang' with section.settings.footer_title_3 %}
            </h3>
            {% endif %}

            {%- assign footer_linklist = section.settings.footer_linklist_3 -%}
            {% if linklists[footer_linklist].links.size > 0 %}
            <ul>
              {% for link in linklists[footer_linklist].links %}
              <li>
                <a href="{{ link.url}}">
                  {% include 'multilang' with link.title %}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          
          <div class="col-6 col-md-4 column-footer"> 
            {% if section.settings.footer_title_4 != blank %}
            <h3>
              {% include 'multilang' with section.settings.footer_title_4 %}
            </h3>
            {% endif %}

            {%- assign footer_linklist = section.settings.footer_linklist_4 -%}
            {% if linklists[footer_linklist].links.size > 0 %}
            <ul>
              {% for link in linklists[footer_linklist].links %}
              <li>
                <a href="{{ link.url}}">
                  {% include 'multilang' with link.title %}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          
          <div class="col-10 offset-1 offset-md-0 col-md-4 column-footer"> 
            {% if section.settings.footer_title_5 != blank %}
            <h3>
              {% include 'multilang' with section.settings.footer_title_5 %}
            </h3>
            {% endif %}

            {% if section.settings.footer_linklist_5 != blank %}
            <div class="ft-location">
              {% if settings.enable_multilang %}
              <div class="lang1">{{ section.settings.footer_linklist_5 | split: '|' | first | strip }}</div>
              <div class="lang2">{{ section.settings.footer_linklist_5 | split: '|' | last | strip }}</div>
              {% else %}
              <div>{{ section.settings.footer_linklist_5 | split: '|' | first }}</div>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>      
      </div>
    </div>
  </div>
  
  {% if section.settings.footer_social_enable %}  
  <div class="footer-social">
    <div class="container">
      {% if section.settings.social_title != blank %}
      <h3>
        {% include 'multilang' with section.settings.social_title %}
      </h3>
      {% endif %}
      {% include 'social-media' %}
    </div>            
  </div>
  {% endif %}
  
  {% if section.settings.display_ft_bt %}
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-content">
        <div class="row">
          <div class="footer_address column-left col-12">
            {% include'multilang' with section.settings.ft_address %}
          </div>
          
          <div class="footer_address column-right col-12">
            <ul>
              {% if section.settings.dpl_ico_1 %}
              <li>
                <a href="javascript:void(0)">
                  {% include 'payment-visa'%}
                </a>
              </li>
              {% endif %}

              {% if section.settings.dpl_ico_2 %}
              <li>
                <a href="javascript:void(0)">
                  {% include 'payment-amex'%}
                </a>
              </li>
              {% endif %}

              {% if section.settings.dpl_ico_3 %}
              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% if section.settings.dpl_ico_4 %}
              <li>
                <a href="javascript:void(0)">
                  {% include 'payment-paypal'%}
                </a>
              </li>
              {% endif %}

              {% if section.settings.dpl_ico_5 %}
              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-google-wallet" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% if section.settings.dpl_ico_6 %}
              <li>
                <a href="javascript:void(0)">
                  {% include 'payment-apple'%}
                </a>
              </li>
              {% endif %}

              {% if section.settings.dpl_ico_7 %}
              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-cc-discover" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% if section.settings.dpl_ico_8 %}
              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% if section.settings.dpl_ico_9 %}
              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-cc-diners-club" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% if section.settings.dpl_ico_10 %}
              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% if section.settings.dpl_ico_11 %}
              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-cc-stripe" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}

              {% if section.settings.dpl_ico_12 %}
              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-cc-jcb" aria-hidden="true"></i>
                </a>
              </li>
              {% endif %}            
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</footer>


{% schema %}
  {
    "name": "Footer 2",
    "settings": [
		{
			"type" : "color",
			"id" : "bg_ft",
			"label" : "Background Footer",
			"default" : "#fceae6"
		},
		{
			"type" : "color",
			"id" : "color_ft_text",
			"label" : "Color Text",
			"default" : "#514e4d"
		},
		{
			"type" : "color",
			"id" : "color_ft_header",
			"label" : "Color Header",
			"default" : "#323232"
		},
	    {
          "type": "header",
          "content": "Newsletter"
        },
        {
          "type": "checkbox",
          "id": "footer_newsletter_enable",
          "label": "Show newsletter signup?",
          "default": true
        },
        {
          "type": "text",
          "id": "footer_newsletter_text",
          "label": "Footer Newsletter Text"
        },
        {
          "type" : "textarea",
          "id" : "des_newsletter",
          "label" : "Description newsletter"
        },
	    {
          "type": "color",
          "id": "bg_newsletter_color",
          "label": "Newsletter Input Background Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "newsletter_color",
          "label": "Newsletter Input Color",
          "default": "#999999"
        },
        {
          "type": "color",
          "id": "newsletter_border_color",
          "label": "Newsletter Input Border Color with Opacity 10%",
          "default": "#323232"
        },
        {
          "type": "color",
          "id": "bg_newsletter_button_color",
          "label": "Background and Border Newsletter Button Color",
          "default": "#323232"
        },
        {
          "type": "color",
          "id": "newsletter_button_color",
          "label": "Newsletter Button Color",
          "default": "#fff"
        },
		{
			"type" : "header",
			"content" : "Footer Column"
		},  
	    {
          "type": "text",
          "id": "footer_title_1",
          "label": "Footer 1 Title"
        },
        {
          "type": "link_list",
          "id": "footer_linklist_1",
          "label": "Footer Column 1"
        },
        {
          "type": "text",
          "id": "footer_title_2",
          "label": "Footer 2 Title"
        },
        {
          "type": "link_list",
          "id": "footer_linklist_2",
          "label": "Footer Column 2"
        },
        {
          "type": "text",
          "id": "footer_title_3",
          "label": "Footer 3 Title"
        },
        {
          "type": "link_list",
          "id": "footer_linklist_3",
          "label": "Footer Column 3"
        },
        {
          "type": "text",
          "id": "footer_title_4",
          "label": "Footer 4 Title"
        },
        {
          "type": "link_list",
          "id": "footer_linklist_4",
          "label": "Footer Column 4"
        },
	    {
          "type": "text",
          "id": "footer_title_5",
          "label": "Footer 5 Title"
        },
        {
          "type": "textarea",
          "id": "footer_linklist_5",
          "label": "Footer Column 5"
        },        
        {
          "type": "header",
          "content": "Social"
        },
        {
          "type": "checkbox",
          "id": "footer_social_enable",
          "label": "Show social media links?",
          "default": false
        },
	    {
          "type": "text",
          "id": "social_title",
          "label": "Social Title"
        },
	    {
			"type" : "color",
			"id" : "bg_ft_social",
			"label" : "Background Social Footer",
			"default" : "#f9e2df"
		},
		{
			"type" : "color",
			"id" : "color_ft_social",
			"label" : "Color Social Footer",
			"default" : "#474747"
		},
        {
          "type" : "header",
          "content" : "Footer Bottom"
        },
        {
          "type" : "checkbox",
          "id" : "display_ft_bt",
          "label" : "Display Footer Bottom",
          "default" : true
        },
        
        {
          "type" : "textarea",
          "id" : "ft_address",
          "label" : "Footer Address"
        },
		{
           "type" : "header",
           "content" : "DISPLAY PAYMENT ICONS FOR"
		},
		{
			"type" : "checkbox",
			"id" : "dpl_ico_1",
			"label" : "Display Icon Visa",
			"default" : true
		},
		{
			"type" : "checkbox",
			"id" : "dpl_ico_2",
			"label" : "Display Icon Amex",
			"default" : true
		},
		{
			"type" : "checkbox",
			"id" : "dpl_ico_3",
			"label" : "Display Icon Mastercard",
			"default" : true
		},
		{
			"type" : "checkbox",
			"id" : "dpl_ico_4",
			"label" : "Display Icon Paypal",
			"default" : true
		},
		{
			"type" : "checkbox",
			"id" : "dpl_ico_5",
			"label" : "Display Icon Google Wallet",
			"default" : true
		},
		{
			"type" : "checkbox",
			"id" : "dpl_ico_6",
			"label" : "Display Icon Apple pay",
			"default" : true
		},
		{
			"type" : "checkbox",
			"id" : "dpl_ico_7",
			"label" : "Display Icon Discover",
			"default" : true
		},
		{
			"type" : "checkbox",
			"id" : "dpl_ico_8",
			"label" : "Display Icon Credit Card",
			"default" : true
		},
		{
			"type" : "checkbox",
			"id" : "dpl_ico_9",
			"label" : "Display Icon Diners club",
			"default" : true
		},
		{
			"type" : "checkbox",
			"id" : "dpl_ico_10",
			"label" : "Display Icon Credit card alt",
			"default" : true
		},
		{
			"type" : "checkbox",
			"id" : "dpl_ico_11",
			"label" : "Display Icon Stripe",
			"default" : true
		},
		{
			"type" : "checkbox",
			"id" : "dpl_ico_12",
			"label" : "Display Icon JCB",
			"default" : true
		}
	]
  }
{% endschema %}

<style>
  .footer {
    background:{{ section.settings.bg_ft }};
    color: {{ section.settings.color_ft_text }};
  }

  .footer .footer-top .column-footer ul li a,
  .footer-bottom a  {
    color: {{ section.settings.color_ft_text }};
  }

  .footer h3 {
    color: {{ section.settings.color_ft_header }};
  }
  
  .footer .footer-social {
  	background:{{ section.settings.bg_ft_social }};
  }
  
  .footer .footer-social a,
  .footer .footer-social h3 {
  	color: {{ section.settings.color_ft_social }};
  }
  
  .footer-2 .newsletter .input-group-field {
  	background-color: {{ section.settings.bg_newsletter_color }};
    color: {{ section.settings.newsletter_color }};
  }
  
  .footer-2 .newsletter .input-group {
  	border-bottom-color: {{ section.settings.newsletter_border_color | color_modify: 'alpha', 0.1 }};
  }
  
  .footer-2 .newsletter ::-webkit-input-placeholder {
    color: {{ section.settings.newsletter_color }};
  }
  
  .footer-2 .newsletter ::-moz-placeholder {
    color: {{ section.settings.newsletter_color }};
  }
  
  .footer-2 .newsletter :-ms-input-placeholder {
    color: {{ section.settings.newsletter_color }};
  }
  
  .footer-2 .newsletter :-moz-placeholder {
    color: {{ section.settings.newsletter_color }};
  }
  
  .footer-2 .newsletter .btn {
  	background-color: {{ section.settings.bg_newsletter_button_color }};
    color: {{ section.settings.newsletter_button_color }};
  }
  
  .footer-2 .newsletter .btn:hover,
  .footer-2 .newsletter .btn:focus {
  	background-color: {{ section.settings.bg_ft_social }};
    color: {{ section.settings.color_ft_social }};
  }

</style>
