<style>
  .top-header {
    color:{{section.settings.hd_top_color}};
    background-color:{{section.settings.hd_top_bg}};
  }
  .close_header_left svg{
  	 fill:{{section.settings.hd_top_color}};
  }
  .top-header a{
    color:{{section.settings.hd_top_color}};
  }
  
  .bottom-header{
    color:{{section.settings.hd_bt_color}};
    background-color:{{section.settings.hd_bt_bg}};
  }
  .bottom-header .cls-2{
    fill:{{section.settings.bg_color}}
  }
  .bottom-header a, .hd_currency, .hd-multi-cur i, .bottom-header .column-left .header-search .input-group-field{
    color:{{section.settings.hd_bt_color}};
  }

  .bottom-header .header-search .input-group-field::-webkit-input-placeholder{ 
    color: {{section.settings.hd_bt_color}};
  }
	
  .mobile-items svg,  .menu-mobile svg path{
     fill:{{section.settings.hd_bt_color}};
  }
  
  .bottom-header .header-search .input-group-field::-moz-placeholder{ 
    color: {{section.settings.hd_bt_color}};
  }

  .bottom-header .header-search .input-group-field::-ms-input-placeholder { 
    color: {{section.settings.hd_bt_color}};
  }
  
  .bottom-header .column-left .header-search .input-group-field{
    border-color:{{section.settings.hd_bt_color}};
  }
  .header-customer svg,
  .bottom-header .column-left .header-search .btn-search svg, .header .bottom-header .column-right .cartToggle svg{
    fill:{{section.settings.hd_bt_color}};
  }
  
  .bottom-header .header-search .input-group-field::-moz-placeholder {
    color: {{section.settings.hd_bt_color}};
  }
  
  .header .bottom-header .column-right .cartToggle .cartCount{
    color:{{section.settings.hd_cart_color}};
    background-color:{{section.settings.hd_cart_bg}};
    border-color:{{section.settings.hd_cart_bg}};
  }
  .bottom-header .wishlist .fa,
  .header-customer .userToggle{
  	color:{{section.settings.color}};
  }
  
  {% if section.settings.block_header %}
  .header-block{
    background: {{section.settings.bg_color}};
  }
  .header-block .block-item a{
    font-size:{{section.settings.font_size}};
    color:{{section.settings.color}};
  }
   .header-block,
  .bottom-header,
  .header-block .block-item + .block-item{
    border-color: {{section.settings.border_color}};
  }
  {% endif %}
  

  .top-header .close_header_left {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -ms-flex-align: center;
    
  }
  .top-header .close_header_left svg{
    width:10px;
    height:10px;
  }
  
  @media (max-width:1024px){
    .header .logo img{ 
      height: {{section.settings.min_height_logo}};
    }
  }

  @media (min-width:1025px){
    .header .logo img{ 
      height: {{section.settings.min_height_logo_dk}};
    }
  }
  
  @media (max-width:767px){
    .top-header .close_header_left{
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
    }
  }
</style>

<header class="header header_left_sidebar">
  {% if section.settings.dpl_hd_top %}
  {% if section.settings.hd_top_text != blank %}
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="text col-12">
          {% include 'multilang' with section.settings.hd_top_text %}
          {% if section.settings.hd_text_link != blank  %}
          <div id="clock_header_sidebar">{{section.settings.hd_text_link}}</div>
          <script>
            $(document ).ready(function() {
              $("#clock_header_sidebar").countdown('{{ section.settings.hd_text_link }}', function(event) {
              	$(this).html(event.strftime('' + '<span>%D</span>D  :  '+ '<span>%H</span>H  :  '+ '<span>%M</span>M  :  '+ '<span>%S</span>S')); });
            });
          </script>
           {% endif  %}
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" class="close_header_left">
      {% include 'icon-close' %}
    </a>
  </div>
  <script>
    if ($.cookie('headerleftsidebar') == 'closed') {
      $('.top-header').remove();
    }

    $('.header_left_sidebar a.close_header_left').bind('click',function(){
      $('.top-header').remove();
      $.cookie('headerleftsidebar', 'closed', {expires:1, path:'/'});
    });

  </script>
  {% endif  %}
  {% endif  %}
  
  <div class="bottom-header">
    <div class="fx-hd">
      <div class="container">
        <div class="row">
          <div class="hd-items column-left">

            <div class="menu-mobile mobile-items">
              <a href="javascript:void(0)" class="menuToggle">
                {% include 'line_menu' %}
                {% include 'icon-close' %}
              </a>          
            </div>

            <div class="header-search mobile-items">
              <a href="javascript:void(0)" class="searchToggle">
                {% include 'icon_search' %}
                {% include 'icon-close' %}
              </a> 
              <div class="search-form">
                <div class="icon-close-fix">
                {% include 'icon-close' %}
                </div>
                {% include 'search-bar' %}
              </div>
            </div>
            
          </div>

          <div class="hd-items column-middle logo">
            {% if section.settings.logo_2x != blank %} 
            <a href="/">
            <img src="{{ section.settings.logo_2x | img_url: '150x' }}" alt="{{ section.settings.logo_2x.alt | default: shop.name }}"
                 class="lazyload logo-mobile"
                 itemprop="logo"
                 data-src="{{ section.settings.logo_2x | img_url: 'master' }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.logo_2x | img_url: 'master' }}"
                 data-sizes="auto">
            </a>
            {% else %}
            <h1><a class="logo-title" href="/">{{shop.name}}</a></h1>            
            {% endif %}       
          </div>
          
          <div class="hd-items column-right">
            
            {% if settings.enable_multilang == true or settings.enable_multiple_currencies == true %}
            <div class="items hd-multi-cur">
              <button type="button" class="btn">
                {% if settings.enable_multilang %}
                <label class="icon-lang">
                  <img src="" alt="">
                </label>
                {% endif %}
                {% if settings.enable_multiple_currencies %}
                <label class="hd_currency"></label>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                {% endif %}
              </button>
              <div class="hd-option">
                {% if settings.enable_multilang %}
                <ul class="lang-switcher">
                  <h5>{% include 'multilang' with settings.header_lang %}</h5>
                  <li data-value="1" class="active">
                    <a href="#" title="{{ settings.lange_1 }}">
                      <span class="icon"><img src="{{ "i-lang-1.png" | asset_url }}" alt="{{settings.lange_1}}" /></span>
                      <span class="text">{{ settings.lange_1 }}</span>
                    </a>
                  </li>
                  <li data-value="2">
                    <a href="#" title="{{ settings.lange_2 }}">
                      <span class="icon"><img src="{{ "i-lang-2.png" | asset_url }}" alt="{{settings.lange_2}}" /></span>
                      <span class="text">{{ settings.lange_2 }}</span>
                    </a>
                  </li>
                </ul>  
                {% endif %}
                {% include 'new-currency-picker' %}
              </div>
            </div>
            {% endif %}
            
            <div class="header-customer items">
              <a href="javascript:void(0)" class="userToggle">
                
                {% include 'icon_user' %}
                <span>{{ 'customer.account.title' | t }}</span>
              </a>
            </div>

            {% if settings.enable_wishlist %}
            <div class="wishlist items">
              <a href="/pages/wish-list">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
            </div>
            {% endif %}

            <div class="top-cart items">             
              <a href="javascript:void(0)" class="cartToggle">
                {% include 'cart_icon' %}
                <span class="cartCount">{{ cart.item_count }}</span>
              </a>
            </div>
			
           

            <div class="mobile-items">
              <a href="javascript:void(0)" class="userToggle">
                {% include 'icon_user' %}
                {% include 'icon-close' %}
              </a>
              
            </div>

            <div class="mobile-items mobile-cart">
              <a href="javascript:void(0)" class="cartToggle">
                {% include 'icon_cart' %}
                <span class="cartCount">{{ cart.item_count }}</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  {% include 'dropdown-cart' %}
  <div class="mb-customer">
    {% if customer %}
    <ul>
      <li>
        <a id="customer_logout_link" href="/account/logout" {% if settings.enable_multilang %}data-translate="layout.customer.log_out"{% endif %}>
          {{ 'layout.customer.log_out' | t }}
        </a>
      </li>
      <li>
        <a href="/account" {% if settings.enable_multilang %}data-translate="customer.account.title"{% endif %}>
          {{ 'customer.account.title' | t }}
        </a>
      </li>
    </ul>
    {% else %}
    <form accept-charset="UTF-8" action="/account/login" method="post">
      <input name="form_type" type="hidden" value="customer_login" />
      <input name="utf8" type="hidden" value="✓" />
      <h3 {% if settings.enable_multilang %}data-translate="customer.login.login"{% endif %}>{{ 'customer.login.login' | t }}
        <a class="close-customer" title="Close" href="javascript:void(0)">
          Close
          {% include 'icon-close' %}
        </a>
      </h3>
      <div class="form-group">
        <input class="form-control" type="email" value="" name="customer[email]" placeholder="{{ 'customer.login.email' | t }}" >
        <input class="form-control" type="password" value="" placeholder="{{ 'customer.login.password' | t }}" name="customer[password]" >
      </div>
      <div class="action-btn">
        <input type="submit" class="btn login" {% if settings.enable_multilang %}data-translate="customer.login.login"{% endif %} value="{{ 'customer.login.login' | t }}">
        <a class="forgot-password" href="/account/login#recover" {% if settings.enable_multilang %}data-translate="customer.login.forgot_password"{% endif %}>{{ 'customer.login.forgot_password' | t }}</a>
        <a href="/account/register" class="btn register" {% if settings.enable_multilang %}data-translate="customer.login.registers"{% endif %}>{{  'customer.login.registers' | t }}</a>
      </div>
    </form>
    {% endif %}           
  </div>
  


</header>
{% if section.settings.block_header %}
<div class="header-block">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
      <div class="block-item col" style=" background-color: {{ block.settings.bg_color }};">
        <a href="{{ block.settings.link }}" title="{{block.settings.text}}">
          {% include 'multilang' with block.settings.text %}
        </a>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

{% schema %}
 {
    "name": "Header",
    "max_blocks": 4,
    "settings": [
      {
        "type" : "header",
        "content" : "Top Header"
      },
      {
        "type" : "checkbox",
        "id" : "dpl_hd_top",
        "label" : "Display Top Header",
        "default" : true
      },
      {
        "type" : "textarea",
        "id" : "hd_top_text",
        "label" : "Header Top Text",
        "default" : "Special Offers: Sale up to 60% Off. Use Code “SALE60”"
      },
      {
      "type" : "text",
      "id" : "hd_text_link",
      "label" : "Countdown",
      "default" : "2019/12/4 0:0:00",
      "info": "Please use this exact format: yyyy/mm/dd hour/minute/second. Examle: 2019/12/04 10:20:00."
      },
      
      {
        "type" : "color",
        "id" : "hd_top_bg",
        "label" : "Background color",
        "default" : "#fce9e9"
      },
      {
        "type" : "color",
        "id" : "hd_top_color",
        "label" : "Text Color",
        "default" : "#a66260"
      },
	  {	
		"type" : "header",
		"content" : "Logo Mobile"
	  },
	  {
        "type": "image_picker",
        "id": "logo_2x",
        "label": "Logo Mobile"
      },
      {
        "type": "text",
        "id": "min_height_logo",
        "label": "Min Height of Logo Mobile",
        "default": "30" 
      },
	  {	
		"type" : "header",
		"content" : "Bottom Header"
	  },
	  {
        "type" : "color",
        "id" : "hd_bt_bg",
        "label" : "Background color",
        "default" : "#fff"
      },
      {
        "type" : "color",
        "id" : "hd_bt_color",
        "label" : "Text Color",
        "default" : "#323232"
      },
	
	  {
		"type" : "header",
		"content" : "Cart"
	  },
	  {
        "type" : "color",
        "id" : "hd_cart_bg",
        "label" : "Background Cart count",
        "default" : "#323232"
      },
      {
        "type" : "color",
        "id" : "hd_cart_color",
        "label" : "Cart count text Color",
        "default" : "#fff"
      },
	  {
        "type" : "header",
        "content" : "Block Header"
      },
      {
        "type" : "checkbox",
        "id" : "block_header",
        "label" : "Display Block Header",
        "default" : true
      },
      {
        "type" : "color",
        "id": "bg_color",
        "label" : "Background color",
        "default" : "#fff"
      },
      {
        "type" : "color",
        "id" : "color",
        "label" : "Text color",
        "default" : "#323232"
      },
      {
      "type" : "color",
      "id" : "border_color",
      "label" : "Text color",
      "default" : "#eaeaea"
      },
      {
        "type" : "text",
        "id" : "font_size",
        "label" : "Font Size",
        "default" : "15px"
      }
    ],
	"blocks" : [
        {
          "type" : "Text",
          "name" : "Text",
          "settings":[
           
            {
              "type" : "text",
              "id" : "text",
              "label" : "Text",
              "default" : "Free Shipping on all orders *"
            },
            {
              "type" : "url",
              "id" : "link",
              "label" : "Link"
            }
          ]
        }
      ]
  }
{% endschema %}


<script>
  
  {% if settings.enable_multilang %}
  translator.doTranslate(".header");
  {% endif %}
  
  $('.header-customer .userToggle').click(function(){
    $('html').toggleClass('opencustomer');
    $('.mb-customer').toggleClass("open");

    $('.wrap-overlay, .close-customer').click( function(){
      $('html').removeClass('opencustomer');
      $('.mb-customer').removeClass("open");
    });
  });


{% if section.settings.block_header %}
  $( document ).ready(function() {
    $('.header-block .row').slick({
      infinite: true,
      slidesToShow: {{section.blocks.size}},
      arrows: false,
      slidesToScroll: 1,
      autoplay: 2000,
      speed : 1000,
      responsive: [
            {% if section.blocks.size == 4 %}
      	     {
              breakpoint: 1200,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
              }
            },
           {%endif %}
            {
              breakpoint: 991,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 1,
              }
            },
                                         
        	{
              breakpoint: 600,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
              }
            }
            
  		]
    });
  });
  {% endif %}


</script>

