<section class="home-slideshow mobile1 desktop-only~"  id="slideshow-{{section.id}}" style="margin-bottom:5px;">
  <div class ="slideshow {% if section.settings.layout == 'default' %}container{% endif %}">
    <div class="sl-wrp" data-auto="{% if section.settings.autoplay %}true{% else %}false{% endif %}" data-speed="{{ section.settings.slideshow_speed }}">
      {% for block in section.blocks %}
      
      <!-- bela image for desktop -->
<!--       {% if forloop.index == 1 %}
      <div class="slider" id="slide-bela" > 
        <div class="lazy-images-contain" {{ block.shopify_attributes }}>
          <a href="https://www.pinklay.com/collections/wooden-tableware" title="Wooden Tableware Serveware - Pinklay">
            
            <img loading="lazy" data-new-src="https://psc-adda.b-cdn.net/bela_desktop.gif"
                 class="images-desktop lazyload"
                 data-src="https://psc-adda.b-cdn.net/bela_desktop.gif"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio=""
                 data-sizes="auto">

            <img loading="lazy" data-new-src="https://psc-adda.b-cdn.net/bela_mobile.gif" alt=""
                 class="images-mobile lazyload"
                 data-src="https://psc-adda.b-cdn.net/bela_mobile.gif"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio=""
                 data-sizes="auto"> 

          </a>
        </div>
      </div>
      {% endif %} -->
      <!-- bela image for mobile -->


        {% if block.type == 'image' %}
      
          {% if block.settings.dpl_slide_img %}
            <div class="slider" id="slide-{{ block.id }}" {{ block.shopify_attributes }}> 
              <div class="lazy-images-contain" >

                <a href="{{ block.settings.link_button }}" title="{{block.settings.header_silde }}">

                  {% if block.settings.image_slide != blank %}

                  {%- assign img_url = block.settings.image_slide | img_url: 'master' -%}
                  {%- assign img_url_lazy = block.settings.image_slide | img_url: '2x' -%}
                  {%- assign img_url_mb = block.settings.image_slide_mb | img_url: 'master' -%}
                  {% if section.settings.dpl_parallax %}
                  <div class="parallax-image" style="background-image: url({{img_url}});height:{{ section.settings.height_img_dk }}; background-attachment: fixed;background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
                  
                  <img loading="lazy" src="{{img_url_lazy }}" alt="{{ block.settings.image_slide.alt }}"
                       class="not-parallax lazyload"
                       {% if forloop.index == 1 %}
                       src="{{ img_url }}"
                       {% else %}
                       src="{{ img_url_lazy }}"
                       {% endif %}
                       data-src="{{ img_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ img_url.aspect_ratio }}"
                       data-sizes="auto">
                  
                  {% else %}
                  
                  <img loading="lazy" data-new-src="{{img_url_lazy}}" alt="{{ block.settings.image_slide.alt }}"
                       class="images-desktop lazyload"
                       {% if forloop.index == 1 %}
                       src="{{ img_url }}"
                       {% else %}
                       src="{{ img_url_lazy }}"
                       {% endif %}
                       data-src="{{ img_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ img_url.aspect_ratio }}"
                       data-sizes="auto">
                  {% endif %}
                  
                  {% if block.settings.image_slide_mb != blank %}
                  <img loading="lazy" src="{{block.settings.image_slide_mb | img_url: '2x'}}" alt="{{ block.settings.image_slide_mb.alt }}"
                       class="images-mobile lazyload"
                       data-src="{{ img_url_mb }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ img_url_mb.aspect_ratio }}"
                       data-sizes="auto"> 
                  {% else %}
                  <img loading="lazy" src="{{block.settings.image_slide | img_url: '2x'}}" alt="{{ block.settings.image_slide.alt }}"
                       class="images-mobile lazyload"
                       data-src="{{ img_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ img_url.aspect_ratio }}"
                       data-sizes="auto">
                  {% endif %}

                  {% else %}
                  <span class="not_img">1880 x 690Px</span>                  
                  {% endif %}
                </a>
                {% if block.settings.header_silde != blank or block.settings.image_des != blank or block.settings.button_slide != blank %}
                <div class="container caption-wrap slide-center">
                  <div class="content">
                    {% if block.settings.header_silde != blank %}
                    <h2 class="slide-header" style="font-size:{{block.settings.font_size_header}}; color:{{block.settings.color_header}}">
                      {% include 'multilang' with block.settings.header_silde %}
                    </h2>
                     {% endif %}
                    {% if block.settings.image_des != blank %}
                    <div class="slide-des" style="font-size:{{block.settings.font_size_des}}; color:{{block.settings.color_des}}"> 
                      {% include 'multilang' with block.settings.image_des %}
                    </div>
                    {% endif %}
                    {% if block.settings.button_slide != blank %}
                    <a class="button-slide" href="{{ block.settings.link_button }}"
                       style="font-size:{{block.settings.font_size_button}}; 
                              color:{{block.settings.color_button}};
                              background: {{block.settings.bg_button}};
                              border-color:{{block.settings.border_button}}
                              ">
                      {% include 'multilang' with block.settings.button_slide %}
                    </a>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </div>	
            </div>
          {% endif %}
      	{% elsif block.type == 'lookbook' %}

        {% if block.settings.dpl_lookboob_slide %}
        <div class="slider" id="slide-{{ block.id }}" {{ block.shopify_attributes }}> 
          <div class="lazy-images-contain" >
            
            {% if block.settings.lb_image_slide != blank %}
            {%- assign img_url = block.settings.lb_image_slide | img_url: 'master' -%}
            
            
            {% if section.settings.dpl_parallax %}
            <div class="parallax-image" style="background-image: url({{img_url}});height:{{ section.settings.height_img_dk }}; background-attachment: fixed;background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
            <img src="{{block.settings.lb_image_slide | img_url: '2x'}}" alt=""
                 class="lazyload not-parallax"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-sizes="auto">
            {% else %}
            <img src="{{block.settings.lb_image_slide | img_url: '2x'}}" alt=""
                 class="lazyload"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-sizes="auto">
            {% endif %}
            
            
            {% else %}
            <span class="not_img">1880 x 690Px</span>                  
            {% endif %}
            
            {% if block.settings.lb_product_1 != blank %}
            <div class="lookbook-item" style="top:{{ block.settings.top_position_1 }}%; left:{{ block.settings.left_position_1 }}%;">
             <span class="glyphicon pr-lb item_1_{{ block.id }}" data-handle="{{ block.settings.lb_product_1 }}">+</span>
            </div>
            {% endif %}
            
            {% if block.settings.lb_product_2 != blank %}
            <div class="lookbook-item" style="top:{{ block.settings.top_position_2 }}%; left:{{ block.settings.left_position_2 }}%;">
             <span class="glyphicon pr-lb item_2_{{ block.id }}" data-handle="{{ block.settings.lb_product_2 }}">+</span>
            </div>
            {% endif %}
            
            {% if block.settings.lb_product_3 != blank %}
            <div class="lookbook-item" style="top:{{ block.settings.top_position_3 }}%; left:{{ block.settings.left_position_3 }}%;">
             <span class="glyphicon pr-lb item_3_{{ block.id }}" data-handle="{{ block.settings.lb_product_3 }}">+</span>
            </div>
            {% endif %}
            
            {% if block.settings.lb_product_4 != blank %}
            <div class="lookbook-item" style="top:{{ block.settings.top_position_4 }}%; left:{{ block.settings.left_position_4 }}%;">
             <span class="glyphicon pr-lb item_4_{{ block.id }}" data-handle="{{ block.settings.lb_product_4 }}" >+</span>
            </div>
            {% endif %}
            <style type="text/css">
              #slide-{{ block.id }} .item_1_{{ block.id }}{
                color:{{ block.settings.dots_color_1 }};
                background: {{ block.settings.dots_bg_color_1 }};
              }
              #slide-{{ block.id }} .item_1_{{ block.id }}:before{
                 color: {{ block.settings.dots_bg_color_1 }};
              }
              #slide-{{ block.id }} .item_2_{{ block.id }}{
                color:{{ block.settings.dots_color_2 }};
                background: {{ block.settings.dots_bg_color_2 }};
              }
              #slide-{{ block.id }} .item_2_{{ block.id }}:before{
                 color: {{ block.settings.dots_bg_color_2 }};
              }
              #slide-{{ block.id }} .item_3_{{ block.id }}{
                color:{{ block.settings.dots_color_3 }};
                background: {{ block.settings.dots_bg_color_3 }};
              }
              #slide-{{ block.id }} .item_3_{{ block.id }}:before{
                 color: {{ block.settings.dots_bg_color_3 }};
              }
              #slide-{{ block.id }} .item_4_{{ block.id }}{
                color:{{ block.settings.dots_color_4 }};
                background: {{ block.settings.dots_bg_color_4 }};
              }
              #slide-{{ block.id }} .item_4_{{ block.id }}:before{
                 color: {{ block.settings.dots_bg_color_4 }};
              }
            </style>
          </div>	
        </div>
        {% endif %}
      
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="categories_btn">
    {% if section.settings.button_slide_1 != blank %}
    <a class="btn cst_cate" href="{{ section.settings.link_button_1 }}"
       style="color:{{section.settings.color_button}};
              background: {{section.settings.bg_button}};
              border-color:{{section.settings.border_button}}
              ">
      {% include 'multilang' with section.settings.button_slide_1 %}
    </a>
    {% endif %}
    {% if section.settings.button_slide_2 != blank %}
    <a class="btn cst_cate" href="{{ section.settings.link_button_2 }}"
       style="color:{{section.settings.color_button}};
              background: {{section.settings.bg_button}};
              border-color:{{section.settings.border_button}}
              ">
      {% include 'multilang' with section.settings.button_slide_2 %}
    </a>
    {% endif %}
    {% if section.settings.button_slide_3 != blank %}
    <a class="btn cst_cate" href="{{ section.settings.link_button_3 }}"
       style="color:{{section.settings.color_button}};
              background: {{section.settings.bg_button}};
              border-color:{{section.settings.border_button}}
              ">
      {% include 'multilang' with section.settings.button_slide_3 %}
    </a>
    {% endif %}
  
  </div>
</section>
{% comment %}
<div class="mobile-only">
  <a href="/collections/chaand-womens-collection" class="video-href btn">Shop Collection</a>
  <button class="cst-mute-btn vjs-mute-control vjs-control vjs-button vjs-vol-0" type="button" aria-live="polite" title="Unmute" aria-disabled="false"><span aria-hidden="true" class="vjs-icon-volume-mute"></span></button>
  <video
         id="my-video"
         class="video-js"
         muted 
         controls
         autoplay
         loop
         playsinline
         preload="auto"
         data-setup='{"controls": true, "autoplay": true, "preload": "auto"}'
         >
    <source src="https://cdn.shopify.com/s/files/1/0249/5099/7070/files/Pinklay_Chaand_Collection_Launch_Video_cc3bffd7-99e2-49fc-9295-3d17aff62aad.mp4?v=1634628809" type="video/mp4" />
</video>
 {% endcomment %} 

</div>
<style>
  .categories_btn{
    display: flex;
    margin-bottom: 20px;
  }
  .widget-title{
    margin-top: 20px;
  }
  .cst_cate{
    border-radius: 0px;
    width: 33.33%;
    margin: 0 5px;
  }
  .cst_cate:hover{
    color:#fff!important;
    background:#5ac4be!important;
    border-color:#5ac4be!important;
  }
  
  @media only screen and (min-width: 576px){
    .categories_btn{
      display: none;
    }
  }
  @media (min-width: 381px) and (max-width: 476px){
    .cst_cate {
      font-size: 12px;
    }
  }
  @media only screen and (max-width: 381px){
    .cst_cate{
      font-size:10px;
      padding: 8px 8px;
      margin: 0 3px;
    }
  }
</style>

{% schema %}
  {
    "name": "Slideshow",
    "max_blocks": 10,
    "settings": [
		{
          "type" : "radio",
          "id" : "layout",
          "label" : "Layouts",       
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "full",
              "label": "Full Width"
            }
          ],
          "default": "default"
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Auto-rotate slides",
            "default": true
        },
	    {
          "type": "select",
          "id": "slideshow_speed",
          "label": "Change slides every",

          "options": [
            { "value": "5000", "label": "5 seconds" },
            { "value": "6000", "label": "6 seconds" },
            { "value": "7000", "label": "7 seconds" },
            { "value": "8000", "label": "8 seconds" },
            { "value": "9000", "label": "9 seconds" },
            { "value": "10000", "label": "10 seconds" }
          ],
          "default": "5000"
        },
		{
			"type" : "radio",
			"id" : "text_position",
			"label" : "Text position on the mobile",          
			"options": [
              {
                "value": "under_img",
                "label": "Under the picture"
              },
              {
                "value": "in_img",
                "label": "In pictures"
              }
            ],
            "default": "in_img"
		},
		{
			"type" : "radio",
			"id" : "dots_position",
			"label" : "Dots position",          
			"options": [
              {
                "value": "under_img",
                "label": "Under the picture"
              },
              {
                "value": "in_img",
                "label": "In pictures"
              }
            ],
            "default": "under_img"
		},
		{
			"type" : "color",
			"id" : "bg_color_dots",
			"label" : "Background color dots",
			"default" : "#969696"
	    },
		{
			"type" : "color",
			"id" : "bg_color_arrow",
			"label" : "Border color Arrow",
			"default" : "#969696"
	    },
        {
          "type": "range",
          "id": "space_on",
          "label": "Space on",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "space_below",
          "label": "Space below",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 25
        },
        {
          "type" : "checkbox",
          "id" : "dpl_parallax",
          "label" : "Display Parallax",
          "default" : true
        },
		{
			"type" : "text",
			"id" : "height_img_dk",
			"label" : "Image slider Height on desktop",
			"default" : "auto",
			"info" : "Default auto"
	    },
		{
			"type" : "text",
			"id" : "height_img_mb",
			"label" : "Image slider Height on Mobile",
			"default" : "auto",
			"info" : "Default auto"
	    },
        {
        "type" : "text",
        "id" : "button_slide_1",
        "label" : "Button text 1"
        },
        {
        "type" : "url",
        "id" : "link_button_1",
        "label" : "Button url 1"
        },
        {
        "type" : "text",
        "id" : "button_slide_2",
        "label" : "Button text 2"
        },
        {
        "type" : "url",
        "id" : "link_button_2",
        "label" : "Button url 2"
        },
        {
        "type" : "text",
        "id" : "button_slide_3",
        "label" : "Button text 3"
        },
        {
        "type" : "url",
        "id" : "link_button_3",
        "label" : "Button url 3"
        },
        {
        "type" : "color",
        "id" : "bg_button",
        "label" : "Background Button",
        "default" : "#ffffff"
        },
        {
        "type" : "color",
        "id" : "border_button",
        "label" : "Border Button",
        "default" : "#ffffff"
        },
        {
        "type" : "color",
        "id" : "color_button",
        "label" : "Button Color",
        "default" : "#000000"
        }

     ],
	"blocks" : [
		{
			"type" : "image",
			"name" : "Image Slide",			
			"settings":[
				{
					"type" : "checkbox",
					"id" : "dpl_slide_img",
					"label" : "Enable",
					"default" : true
				},
				{
					"type" : "image_picker",
					"id" : "image_slide",
					"label" : "Select Image",
					"info" : "Recommended Image: Width x Height (1880 x 400)PX"
				},
				{
					"type" : "image_picker",
					"id" : "image_slide_mb",
					"label" : "Select Image mobile",
					"info" : "Recommended Image: Width x Height (1770 x 690)PX"
				},
				{
					"type": "select",
					"id": "alignment",
					"label": "Text alignment",
					"default": "left",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
					    {
							"value": "center",
							"label": "Center"
					    },
					    {
							"value": "right",
							"label": "Right"
					    }
					]
				},
				{
					"type" : "text",
					"id" : "header_silde",
					"label" : "Header",
					"default" : "Soliquem Duscipitor"
				},
				{
					"type" : "text",
					"id" : "font_size_header",
					"label" : "Header Font Size ",
					"default" : "48px"
				},
				{
					"type" : "color",
					"id" : "color_header",
					"label" : "Header Color",
					"default" : "#000"
				},
				{
					"type" : "textarea",
					"id" : "image_des",
					"label" : "Image description"
				},
				{
					"type" : "text",
					"id" : "font_size_des",
					"label" : "Description Font Size",
					"default" : "12px"
				},
				{
					"type" : "color",
					"id" : "color_des",
					"label" : "Image description Color",
					"default" : "#000"
				},
				{
					"type" : "text",
					"id" : "button_slide",
					"label" : "Button text"
				},
                {
					"type" : "url",
					"id" : "link_button",
					"label" : "Link Button"
				},
				{
					"type" : "text",
					"id" : "font_size_button",
					"label" : "Font Size Button",
					"default" : "14px"
				},
				{
					"type" : "color",
					"id" : "bg_button",
					"label" : "Background Button",
					"default" : "#ffffff"
				},
				{
					"type" : "color",
					"id" : "border_button",
					"label" : "Border Button",
					"default" : "#ffffff"
				},
				{
					"type" : "color",
					"id" : "color_button",
					"label" : "Button Color",
					"default" : "#000000"
				}
							
			]
		},
        {
        "type": "lookbook",
        "name": "Lookbook Slide",
        "settings": [
		  {
			"type" : "checkbox",
			"id" : "dpl_lookboob_slide",
			"label" : "Enable",
			"default" : true
		  },
          {
            "type": "image_picker",
            "id": "lb_image_slide",
			"label": "Select Image"
          },
		  {
			"type" : "header",
			"content" : "Product 1"
		  },
		  {
			"type" : "product",
			"id" : "lb_product_1",
			"label" : "Select Product 1"
		  },
		  {
			"type" : "text",
			"id" : "top_position_1",
			"label" : "Top Position 1",
			"default" : "10",
			"info" : "Unit %" 
		  },
		  {
			"type" : "text",
			"id" : "left_position_1",
			"label" : "Left Position 1",
			"default" : "10",
			"info" : "Unit %" 
		  },
		  {
			"type" : "color",
			"id" : "dots_color_1",
			"label" : "Color 1",
			"default" : "#fff"
		  },
		  {
			"type" : "color",
			"id" : "dots_bg_color_1",
			"label" : "Dots background color 1",
			"default" : "#323232",
			"info" : "======================="
		  },
		  {
			"type" : "header",
			"content" : "Product 2"
		  },
		  {
			"type" : "product",
			"id" : "lb_product_2",
			"label" : "Select Product 2"
		  },
		  {
			"type" : "text",
			"id" : "top_position_2",
			"label" : "Top Position 2",
			"default" : "10",
			"info" : "Unit %" 
		  },
		  {
			"type" : "text",
			"id" : "left_position_2",
			"label" : "Left Position 2",
			"default" : "10",
			"info" : "Unit %" 
		  },
		  {
			"type" : "color",
			"id" : "dots_color_2",
			"label" : "Color 2",
			"default" : "#fff"
		  },
		  {
			"type" : "color",
			"id" : "dots_bg_color_2",
			"label" : "Dots background color 2",
			"default" : "#323232",
			"info" : "======================="
		  },
		  {
			"type" : "header",
			"content" : "Product 3"
		  },
		  {
			"type" : "product",
			"id" : "lb_product_3",
			"label" : "Select Product 3"
		  },
		  {
			"type" : "text",
			"id" : "top_position_3",
			"label" : "Top Position 3",
			"default" : "10",
			"info" : "Unit %" 
		  },
		  {
			"type" : "text",
			"id" : "left_position_3",
			"label" : "Left Position 3",
			"default" : "10",
			"info" : "Unit %" 
		  },
		  {
			"type" : "color",
			"id" : "dots_color_3",
			"label" : "Color 3",
			"default" : "#fff"
		  },
		  {
			"type" : "color",
			"id" : "dots_bg_color_3",
			"label" : "Dots background color 3",
			"default" : "#323232",
			"info" : "======================="
		  },
		  {
			"type" : "header",
			"content" : "Product 4"
		  },
		  {
			"type" : "product",
			"id" : "lb_product_4",
			"label" : "Select Product 4"
		  },
		  {
			"type" : "text",
			"id" : "top_position_4",
			"label" : "Top Position 4",
			"default" : "10",
			"info" : "Unit %" 
		  },
		  {
			"type" : "text",
			"id" : "left_position_4",
			"label" : "Left Position 4",
			"default" : "10",
			"info" : "Unit %" 
		  },
		  {
			"type" : "color",
			"id" : "dots_color_4",
			"label" : "Color 4",
			"default" : "#fff"
		  },
		  {
			"type" : "color",
			"id" : "dots_bg_color_4",
			"label" : "Dots background color 4",
			"default" : "#323232"
		  }
		]
	   }
	],
	"presets": [{
      "name": "Slideshow",
      "category": "Slideshow",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}


<style>  
  @media (min-width:1367px){
    .home-slideshow .not-parallax{
      display:none;
    }
  }
  
  @media (max-width:1366px){    
   .home-slideshow .parallax-image{
      display:none;
    }
  }
  
  @media (min-width:768px){    
    {% if section.settings.dots_position == 'in_img' %}
    #slideshow-{{section.id}} .slick-dots {
      position: absolute;
      left: 0;
      bottom: 3%;
      margin: 0;
      width: 100%;
    }
    
    #slideshow-{{section.id}} .slick-dots li button{
      border-width:1px;
      background: {{ section.settings.bg_color_dots }};
      border-color: {{ section.settings.bg_color_dots }};
    }
    
    #slideshow-{{section.id}} .slick-arrow{
      border-color: {{ section.settings.bg_color_arrow }};
    }
    
    #slideshow-{{section.id}} .slick-arrow svg{
      fill: {{ section.settings.bg_color_arrow }};
    }

    #slideshow-{{section.id}} .slick-dots li.slick-active button{
      background: transparent;
    }
    
    {% else %}
    #slideshow-{{section.id}} .slick-arrow{
      top: 47.1%;
    }

    {% endif %}   
  }
  
  {% if section.settings.dpl_parallax %}
  @media (min-width:1367px){
    #slideshow-{{section.id}} .lazy-images-contain img{
      height: {{ section.settings.height_img_dk }};
      object-fit: cover;
    }
  }
  
  {% else %}
  @media (min-width:1025px){
    #slideshow-{{section.id}} .lazy-images-contain img{
      height: {{ section.settings.height_img_dk }};
      object-fit: cover;
    }
  }
  {% endif %}
  
  @media (max-width: 1024px){
    #slideshow-{{section.id}} .lazy-images-contain img{
      height: {{ section.settings.height_img_mb }};
      object-fit: cover;
    }
  }
  
  @media (max-width: 767px){
    .home-slideshow .not-parallax{
      display:none;
    }
    
    {% if section.settings.text_position == 'under_img' %}
    #slideshow-{{section.id}} .caption-wrap {
/*       position: static;
      transform: none;
      -webkit-transform: none;
      -ms-transform: none; */
      text-align:center!important;
    }
    
    #slideshow-{{section.id}} .caption-wrap:after {
      display: block;
      content: "";
      visibility: hidden;
      clear: both;
    }

    #slideshow-{{section.id}} .caption-wrap .content h2{
      color: #000 !important;
    }

    #slideshow-{{section.id}} .caption-wrap .content .slide-des{
      color: #000 !important;
      display: block;
    }

    {% else %}
    #slideshow-{{section.id}} .caption-wrap .content .button-slide{
      max-width: max-content;
      height: 36px;
      line-height: 36px;
      width: auto;
      padding: 0 40px;
    }
    {% endif %}
    
    {% if section.settings.dots_position == 'in_img' and section.settings.text_position == 'in_img' %}
    #slideshow-{{section.id}} .slick-dots {
      position: absolute;
      left: 0;
      bottom: 3%;
      margin: 0;
      width: 100%;
    }
    
    #slideshow-{{section.id}} .slick-dots li button{
      border-width:1px;
      background: {{ section.settings.bg_color_dots }};
      border-color: {{ section.settings.bg_color_dots }};
    }
    
    #slideshow-{{section.id}} .slick-arrow{
      border-color: {{ section.settings.bg_color_arrow }};
    }
    
    #slideshow-{{section.id}} .slick-arrow svg{
      fill: {{ section.settings.bg_color_arrow }};
    }

    #slideshow-{{section.id}} .slick-dots li.slick-active button{
      background: transparent;
    }
    {% endif %}   
  }

  {% if section.settings.layout == 'default' %}
  #slideshow-{{section.id}} .caption-wrap {
    max-width: 850px;
  }

  #slideshow-{{section.id}} .caption-wrap .slide-des {
    max-width: 410px;
  }

  #slideshow-{{section.id}} .slick-prev {
    left:5%;
  }

  #slideshow-{{section.id}} .slick-next{
    right:5%;
  }
  {% endif %}

  #slideshow-{{section.id}} .sl-wrp > .slider:not(:first-child){
    display:none;
  }

  #slideshow-{{section.id}}{
    margin-top: {{ section.settings.space_on }}px;
    margin-bottom: {{ section.settings.space_below }}px;
  }
  @media (max-width: 767px){
    #slideshow-{{section.id}}{
      margin-bottom: 15px;
    }
  
  }
</style>
