<section class="custom-block" id="section-{{ section.id }}">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
      <div class="block-item col">
        <a href="{{ block.settings.link }}" title="">
          {{ block.settings.icon }}
          {% include 'multilang' with block.settings.text %}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  #section-{{ section.id }}{
    margin-top: {{ section.settings.space_on }}px;
    margin-bottom: {{ section.settings.space_below }}px;
  }
  
  .custom-block .block-item a {
    border: 1px solid {{ section.settings.border }};
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.color }};
  }
</style>

<script>
 $(function() {
    var customBlock = $('.custom-block');
    
    if(window.innerWidth < 768) {
      customBlock.each(function() {
      	var row = $(this).find('.row');
        
        row.slick({
          infinite: true,
          speed: 700,
          slidesToShow: 3,
          autoplay:true,
          slidesToScroll: 1,
          nextArrow: '<button type="button" class="slick-next"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 17 33" xml:space="preserve"><g id="e4eb89a6-f885-43b8-9259-0d6b1516fab0"><g id="_x38_e584754-6657-46f1-a9d8-2cfd6623b552"><g><polygon points="14.9,14.5 0,0 0,3.7 11.1,14.5 13.2,16.5 11.1,18.5 0,29.3 0,33 14.9,18.5 17,16.5 "/></g></g></g></svg></button>',
          prevArrow: '<button type="button" class="slick-prev"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 33"><g id="7f9a1925-e8c7-4614-8787-3c6095a9f6e1" data-name="Layer 2"><g id="c9b7920a-81fa-4bfe-ad13-4da717c6854b" data-name="Layer 1"><g id="c2d982ff-0cf6-4220-b365-47f30d708fea" data-name="e4eb89a6-f885-43b8-9259-0d6b1516fab0"><g id="f51d455e-6b9c-4c4e-96db-a5004582beda" data-name="8e584754-6657-46f1-a9d8-2cfd6623b552"><polygon points="0 16.5 2.1 18.5 17 33 17 29.3 5.9 18.5 3.8 16.5 5.9 14.5 17 3.7 17 0 2.1 14.5 0 16.5"/></g></g></g></g></svg></button>',
          responsive: [
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 576,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
      }) 
    }
  })
</script>

{% schema %}
  {
      "name": "Custom Block",
      "max_blocks": 4,
      "settings": [
        {
          "type" : "color",
          "id" : "color",
          "label" : "Text color",
          "default" : "#323232"
        },
        {
          "type" : "color",
          "id": "bg_color",
          "label" : "Background color",
          "default" : "#fff"
        },
        {
          "type" : "color",
          "id" : "border",
          "label" : "Border color",
          "default" : "#e6e6e6"
        },
        {
          "type": "range",
          "id": "space_on",
          "label": "Space on",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "space_below",
          "label": "Space below",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 25
        }
      ],
      "blocks" : [
        {
          "type" : "Text",
          "name" : "Text",
          "settings":[
            {
              "type": "text",
              "id" : "icon",
              "label" : "Icon",
              "info" : "[Find your Icon](https://fontawesome.com/v4.7.0/icons/)."
            },
            {
              "type" : "text",
              "id" : "text",
              "label" : "text",
              "default" : "Free Shipping on all orders *"
            },
            {
              "type" : "url",
              "id" : "link",
              "label" : "Link"
            }
          ]
        }
      ],
      "presets": [{
        "name": "Custom block",
        "category": "text"
      }]
  }
{% endschema %}
