<div class="full_width_container_mt">
  <div class="section_first_mt">
    <div class="Background_image_wrapper_mt">
      <div class="background_image mobile_hide">
        <img src="{{ section.settings.background_image | img_url : 'master' }}">
      </div>
      <div class="background_image desktop_hide" style="background-image:url('{{ section.settings.background_image_mobile | img_url : 'master' }}')">
      </div>
    </div>

  </div>
  <div class="container">
  <div class="section_second_mt">
    <div class="content_mt">
     {{ section.settings.title }}
    </div>
  </div>
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'image-with-text' -%}
       		<div class="our-story-section-content">
	<div class="left-content"  style="order:{{block.settings.layout}};">
    <div class="left-content-section">
        <h3 class="our-story-section-content-h3">
          {% if block.settings.heading != blank %}
            {{ block.settings.heading | escape }}
          {% endif %}
        </h3>
        <p class="our-story-section-content-p">
           {% if block.settings.para != blank %}
            {{ block.settings.para }}
            {% endif %}
        </p>
     </div>
  	</div>
    <div class="right-content">
                {% if block.settings.image != blank %}
          <div class="right-content-bg-image"  style="background-image: url('{{ block.settings.image | img_url: 'master' }}'); min-height:{{block.settings.content-align}};">
                 {% endif %}
          </div>
     </div> 
</div>
      {%- endcase -%}
   {%- endfor -%}
  
  </div>
</div>



{% schema %}
  {
    "name": "Month of Giving",
    "settings": [
					{
        				"type": "image_picker",
        				"id": "background_image",
        				"label": "Banner Background Image"
      				},
					{
        				"type": "image_picker",
        				"id": "background_image_mobile",
        				"label": "Banner Background Image"
      				},
					{
        				"type": "richtext",
        				"id": "title",
        				"label": "Title"
      				}
				],
				 "blocks": [
    {
      "type": "image-with-text",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "para",
          "label": "Content"
        },
  		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "1",
        "options": [
          {
            "value": "0",
            "label": "left"
          },
          {
            "value": "1",
            "label": "right"
          }
        ]
      },
 {
        "type": "select",
        "id": "content-align",
        "label": "Image height",
        "default": "520px",
        "options": [
          {
            "value": "520px",
            "label": "520px"
          },
          {
            "value": "620px",
            "label": "620px"
          },
		  {
            "value": "720px",
            "label": "720px"
          }
        ]
      }

      ]
    }
  ]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% style %}
.full_width_container_mt {
    display: block;
    width: 100%;
    max-width: 100%;
}
.container.full_width_mt
{
	max-width : 100%;
	width : 100%;
	padding : 0;
	font-family : Montserrat;
}
.background_image
{
	display : block;
	max-width : 100%;
	width : 100%;
	max-height : 100%;
	height : 800px;
	min-height : 1px;
	background-size : cover;
	background-position : center center;
}
.section_second_mt
{
	display : block;
	width : 100%;
	max-width : 100%;
}
.content_mt {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin:  30px 0;
}
.content_mt p
{
	font-size: 17px;
    line-height: 25px;
    color: #000000;
}
.our-story-section {
    display: block;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
.our-story-section-content {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
  	margin-bottom : 3rem;
  	padding : 0px 40px;
}
.left-content {
    display: flex;
    max-width: 41.333%;
    justify-content: center;
  	align-items : center;
    font-size: 18px;
    flex-grow: 1;
  
}
.left-content-section {
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: left;
    color: #222222;
  	padding-right: 4rem;
    padding-left: 22px;
}
h3.our-story-section-content-h3 {
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0;
    font-family: "Gotham A","Gotham B",sans-serif;
}
.left-content p {
    font-size: 15px;
    font-family: "Gotham A","Gotham B",sans-serif;
    line-height: 24px;
    font-weight: 300;
  	margin : 0px;
}
.right-content {
    display: flex;
    max-width: 41.333%;
    flex-direction: column;
    flex-grow:  1;
  	padding-left :22px;
    align-items : center;
  	justify-content : center;

}
.right-content-bg-image {
    display: block;
    width: 100%;
   	min-height : 520px;
  	max-width: 520px;
    background-repeat: no-repeat;
    background-size: cover;
  	background-position: top;
}
.desktop_hide
{
	display : none;
}
@media (max-width : 768px)
{
	.desktop_hide
	{
			display : block;
	}
	.mobile_hide
	{
			display : none;
	}
	.background_image
	{
		height : 290px;
	}
}
{% endstyle %}