<style>
  .full_width_container_mt {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .container.full_width_mt
  {
    max-width : 100%;
    width : 100%;
    padding : 0;
    font-family : Montserrat;
  }
  .background_image
  {
    display : block;
    max-width : 100%;
    width : 100%;
    max-height : 100%;
    min-height : 1px;
    background-size : cover;
    background-position : center center;
  }
  .section_second_mt
  {
    display : block;
    width : 100%;
    max-width : 100%;
  }
  .content_mt {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin:  30px 0;
  }
  .h3_left {
    padding-left: 15px;
    display: inline-block;
    width: 50%;
    float: right;
  }
  .content_mt p
  {
    font-size: 17px;
    line-height: 25px;
    color: #777777;
    text-align : justify;
  }
  .our-story-section {
    display: block;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .our-story-section-content {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    margin-bottom : 30px;
  }
  .left-content {
    display: flex;
    font-size: 18px;
    flex-grow: 1;
    width : 50%;
    max-width : 100%;

  }
  .left-content-section {
    display: block;
    width: 100%;
    text-align: left;
    color: #000;
  }
  .div_content_pinklay {
    margin-top: 15px;
  }
  .div_content_pinklay p {
    margin-bottom: 0px;
  }
  .left_1
  {
    padding-left:15px;
  }
  .left_2
  {
    padding-right : 15px;
  }
  h3.our-story-section-content-h3 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0;
    color: #5BC3BE;
    font-weight: 600;
    font-style : italic;
  }
  .slick_slider_js {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 40px 0px;
  }
  .our-story-section-content-p p {
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    margin : 0px;
    color : #000;
    text-align : justify;
  }
  .right-content {
    display: flex;
    max-width: 50%;
    flex-direction: row;
    flex-grow:  1;
    align-items : center;
    justify-content : center;

  }
  .right-content-bg-image {
    display: block;
    width: 100%;
    height : 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  .set_heading {
    display: inline-block;
    width: 50%;
    max-width: 100%;
  }
  .desktop_hide
  {
    display : none;
  }
  .container_new
  {
    max-width : 66.666667% !important;
    margin : auto;
  }
  .right-content-bg-image img
  {
    border-radius : 0;
    height : 100%;
    width : 100%;
  }
  .background_image img
  {
    width : 100%;
    object-fit : cover;
    border-radius :0;
  }
  h3.our-story-section-content-h3.h3_right {
    margin-left: 0;
    float : right;
    width: 100%;
  }
  @media (max-width : 768px)
  {
    .slick_slider_js
    {
      margin: 30px 0;
    }
    .our-story-section-content
    {
      margin-bottom : 30px;
    }
    .h3_left
    {
      padding-left: 0px;
      width : 100%;

    }
    .desktop_hide
    {
      display : block;
    }
    .mobile_hide
    {
      display : none;
    }
    .container_new {
      width: 100%;
      max-width: 100% !important;
      padding: 0px 20px;
    }
    h3.our-story-section-content-h3
    {
      margin-left : 0;
    }
    .our-story-section-content
    {
      flex-direction : column;
    }
    .left-content
    {
      order : 0 !important;
    }
    .left_1
    {
      padding-left :0;
    }
    .left_2
    {
      padding-right : 0;
    }
    .left-content, .right-content
    {
      width : 100%;
      max-width : 100%;

    }
    .left-content
    {
      margin-bottom : 30px;
    }
    .slick_slider_js
    {
      margin-bottom : 0
    }
    h3.our-story-section-content-h3
    {
      margin-bottom : 20px;
    }
  }

  @media (max-width : 350px)
  {
    h3.our-story-section-content-h3
    {
      font-size : 17px;
    }
  }
  @media (max-width : 420px)
  {
    .pinkley_content_name_mt p
    {
      font-size : 14px;
    }
  }

  @media (max-width: 360px)
  {
    .pinkley_content_name_mt p {
      font-size: 14px;
      text-align: initial;
    }
  }

  .upcmng_event .upcmng_event_heading{
    color: #5BC3BE;
    font-size: 25px;
    font-weight: 700;
  }
  .upcmng_event_subheading p{
    font-size: 18px;
    letter-spacing: .5px;
    color: #000;
    line-height: 26px;
  }
  .events{
    margin: 70px 0;
  }
  .events_img{
    float:left;
	max-width: 300px;
  }
  .float_r {
    float:right !important;
  }
  .float_r img {
    padding-right: 0 !important;
    padding-left:30px !important;
}
  
  .events_img img{
    padding-right:40px;
    object-fit:cover;
  }
  .evnts_content_h{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .evnts_time{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px !important; 
  }
  .evnts_data p{
    font-size: 16px;
    letter-spacing: .5px;
    color: #000;
    line-height: 26px; 
  }
  .m-top{
  margin-top:140px;
  }
  @media only screen and (max-width:600px){
    .events {
     display:flex;
      flex-direction:column-reverse;
    }
    .events_img{
    float:none!important;
    max-width:100%;
    margin-top: 20px;
  }
	.events_img img{
    padding-right: 0 !important;
    padding-left: 0 !important; 
    }
    .evnts_content_h {
    font-size: 16px;
    }
    .evnts_time {
    font-size: 14px;
    }
    .evnts_data p {
    font-size: 14px;
    }
    .events {
    margin: 50px 0 !important;
	}
    .upcmng_event .upcmng_event_heading{
     font-size:21px; 
    }
  }
@media only screen and (min-width:1120px) {
  .mbb{
   margin-bottom:125px; 
  }
}
    
</style>

<div class="full_width_container_mt">
  <div class="container_new">
    <div class="section_second_mt">
      <div class="content_mt">
        {{ section.settings.title }}
        <div class="div_content_pinklay mobile_hide">
          <p>Wishing you a happy and healthy December,</p>
          <p>Daisy Tanwani</p>
          <p>Founder - Pinklay </p>
        </div>
        <div class="div_content_pinklay desktop_hide pinkley_content_name_mt">
          <p>Wishing you a happy and healthy December - Daisy Tanwani, Founder - Pinklay</p>
        </div>
      </div>
    </div>
    <div class="section_first_mt">
      <div class="Background_image_wrapper_mt">
        <div class="background_image mobile_hide">
          <img src="{{ section.settings.background_image | img_url : 'master' }}">
        </div>
        <div class="background_image desktop_hide">
          <img src="{{ section.settings.background_image_mobile | img_url : 'master' }}">
        </div>
      </div>

    </div>
    <div class="slick_slider_js">
      {%- for block in section.blocks -%}

      {%- case block.type -%}
      {%- when 'image-with-text' -%}
      {% assign mod = forloop.index | modulo: 2 %}
      <div class="wrapper_blocks">
        <div class="set_heading">
        </div>
        <h3 class="our-story-section-content-h3 {% if mod == 0 %}h3_right{% else %}h3_left{% endif %}">
          {% if block.settings.heading != blank %}
          {{ block.settings.heading | escape }}
          {% endif %}
        </h3>
        <div class="our-story-section-content">
          <div class="left-content"  style="order:{{block.settings.layout}};">
            <div class="left-content-section left_{{ forloop.index }}">
              <div	class="our-story-section-content-p">
                {% if block.settings.para != blank %}
                {{ block.settings.para }}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="right-content slick_slider_image_change_{{ forloop.index }}">
            {% if block.settings.image != blank %}
            <div class="right-content-bg-image"> 
              <img src="{{ block.settings.image | img_url: 'master' }}">

            </div>
            <div class="right-content-bg-image"> 
              <img src="{{ block.settings.image2 | img_url: 'master' }}">

            </div>
            {% endif %}
          </div> 
        </div>
      </div>
      {%- endcase -%}
      {%- endfor -%}
    </div>
    <div class="upcmng_event">
      <h2 class="upcmng_event_heading">UPCOMING EVENTS/INSTAGRAM LIVE SESSIONS</h2>
      <div class="upcmng_event_subheading">
        <p>We also have an interesting line up of talks across December on the topic of giving – to the community, environment, and yourself. Follow us on Instagram 
          <a href="https://www.instagram.com/pinklayindia/">(@pinklayindia)</a> 
          and join in on one or more of these conversations. See you there!</p>
      </div>
      <div class="events">
        <div class="events_img">
          <img src="https://cdn.shopify.com/s/files/1/0249/5099/7070/files/Picture9.jpg?v=1638791529">
        </div>
        <div class="evnts_content">
          <h3 class="evnts_content_h">VIDYA KHAN – BUSINESS CONSULTANT & LIFE COACH</h3>
          <p class="evnts_time">04 December 2021, 4 PM</p>
          <div class="evnts_data">
            <p>Vidya Khan, a prosperity and peace coach, is a powerful and compassionate person who believes in bringing positive energy to people. In spite of being an electronic engineer and psychologist by education, she found her true calling in 
              guiding individuals to their potential. She believes all causes have effects, and her cause is to inspire and evolve humankind during the phases of life, when learning and unlearning are required to live the best possible 
              life filled with love and joy.</p>
          </div>
        </div>
      </div>
      <div class="events">
        <div class="events_img float_r">
          <img src="https://cdn.shopify.com/s/files/1/0249/5099/7070/files/Picture8.jpg?v=1638791218">
        </div>
        <div  class="evnts_content">
          <h3 class="evnts_content_h">SUPRIYA PATIL - HEAD OF PARTNERSHIPS & PROJECTS AT GROW-TREES</h3>
          <p class="evnts_time">11 December 2021, 4 PM</p>
          <div class="evnts_data">
            <p>Supriya is passionate about the challenges of environmental governance and strives to find sustainable solutions. In her role at Grow-Trees, she is helping corporations mobilize resources for adopting the triple bottom line in 
              the business and creating various social impact-driven projects.</p>
          </div>
        </div>
      </div>
      <div class="events m-top">
        <div class="events_img">
          <img src="https://cdn.shopify.com/s/files/1/0249/5099/7070/files/Picture10.jpg?v=1638791529">
        </div>
        <div class="evnts_content">
          <h3 class="evnts_content_h">NANDINI KAUSHIK - FOUNDER OF DOGS OF SHIV NADAR UNIVERSITY</h3>
          <p class="evnts_time">19 December 2021, 11 AM</p>
          <div class="evnts_data">
            <p>Nandini being a college student and an animal welfare worker took up the responsibility for the stray dogs with no expectation in return. She is very passionate about the environment and climate change, too.</p>
          </div>
        </div>
      </div>
      <div class="events m-top mbb">
        <div class="events_img float_r">
          <img src="https://cdn.shopify.com/s/files/1/0249/5099/7070/files/Picture11.jpg?v=1638791529">
        </div>
        <div class="evnts_content">
          <h3 class="evnts_content_h">AKANSHA TIWARI - WILDLIFE FILMMAKER</h3>
          <p class="evnts_time">19 December 2021, 11 AM</p>
          <div  class="evnts_data">
            <p>As a wildlife filmmaker, she specializes in marine wildlife and conservation stories. She is currently working on a film about wildlife road kills and has worked on Nat Geo India and Nat Geo Wild films in 2018. She has been involved in 
              dog and cat rescues for over 6 years, as well as relocations and neuterings.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function(){
    $('.slick_slider_image_change_1').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 5000,
      dots : false,
      arrows: false,     
    }); 

    $('.slick_slider_image_change_2').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 5000,
      dots : false,
      arrows: false,     
    });
  }); 
</script>


{% schema %}
{
"name": "Month of Giving",
"settings": [
{
"type": "image_picker",
"id": "background_image",
"label": "Banner Background Image"
},
{
"type": "image_picker",
"id": "background_image_mobile",
"label": "Banner Background Image"
},
{
"type": "richtext",
"id": "title",
"label": "Title"
}
],
"blocks": [
{
"type": "image-with-text",
"name": "Block",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "richtext",
"id": "para",
"label": "Content"
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "image_picker",
"id": "image2",
"label": "Image second"
},
{
"type": "select",
"id": "layout",
"label": "Image alignment",
"default": "1",
"options": [
{
"value": "0",
"label": "left"
},
{
"value": "1",
"label": "right"
}
]
},
{
"type": "select",
"id": "content-align",
"label": "Image height",
"default": "520px",
"options": [
{
"value": "520px",
"label": "520px"
},
{
"value": "620px",
"label": "620px"
},
{
"value": "720px",
"label": "720px"
}
]
}

]
}
]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

