{% if section.settings.display_sidebar_categories %}
<div class="sidebar-links">
  
  <div class="widget-header">
    <h4>
      {% include 'multilang' with section.settings.title %}
    </h4>
  </div>

  <div class="widget-content">
    <ul>
      {% if section.settings.style_categories == 'style_show_all' %}
      {% for category in collections %}
      <li>
        <a href="{{ category.url }}" {% if collection.handle == category.handle %}class="active"{% endif %}>              
          {% include 'multilang' with category.title %}
        </a>
      </li>     
      {% endfor %}
      
      {% else %}
      
      {% assign cat_link_list = section.settings.categories_link_list | handleize %}
      {% for link in linklists[cat_link_list].links %}

      <li {% if linklists[link.handle] != empty %}class="dropdown{% if collection.handle == link.handle %} active{% endif %}"{% endif %}>
        <a href="{{ link.url }}">
          {% include 'multilang' with link.title %}
        </a>
        {% if linklists[link.handle] != empty %}
        <span class="caret"><i class="fa fa-angle-down"></i></span>
        {% assign link_child = link.handle %}
        {% include 'dropdown-cat' with link_child %}
        {% endif %}
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
  
</div>
{% endif %}


{% if section.settings.enable_pr %}
<div class="sidebar-product">

  <div class="widget-header">
    <h4>
      {% include 'multilang' with section.settings.title_pr %}
    </h4>
  </div>
  
  <div class="widget-content">
    
    {% for product in collections[section.settings.collection].products limit:section.settings.limit %}
    
      {% assign on_sale = false %}
      {% if product.compare_at_price_min > product.price_min %}
      {% assign on_sale = true %}
      {% endif %}

      {% assign sold_out = true %}
      {% if product.available  %}
      {% assign sold_out = false %}
      {% endif %}

      {% assign label_new = "new" %}
      {% assign tags = product.tags | split: ',' %}

      <div class="product-item">
        
        <div class="product-top">
        
          <div class="product-image">
            <a href="{{ product.url | within: collection }}">
              <img src="{{ product.featured_image.src | product_img_url: '100x' }}" alt="{{ product.featured_image.alt | escape }}"             
                   data-src="{{ product.featured_image.src | product_img_url: '200x' }}"
                   class="lazyload"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                   data-sizes="auto">
            </a>
            {% if on_sale or sold_out or label_new %}
            <div class="product-label">

              {% for t in tags %}
              {% assign tag = t | strip %}
              {% assign tag_value = tag | handleize %}
              {% if tag contains label_new %}
              <strong class="label label-new" {% if settings.enable_multilang %}data-translate="products.product.new"{% endif %} >{{ 'products.product.new' | t }}</strong>
              {% endif %}
              {% endfor %}

              {% if on_sale %}
              <strong class="label label-sale">
                -{{ product.compare_at_price_min | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_min | money_without_currency | times: 100 | replace: '.0', ''}}%
              </strong>
              {% endif %}

              {% if sold_out %}
              <strong class="sold-out label" {% if settings.enable_multilang %}data-translate="products.product.sold_out"{% endif %}>{{ 'products.product.sold_out' | t }}</strong>
              {% endif %}

            </div>
            {% endif %}
          </div>      
        </div>
        
        <div class="product-bottom">
          
          {% if settings.show_vendor %}
          <div class="product-vendor">{{ product.vendor | link_to_vendor  }}</div>
          {% endif %}
          
          <a class="product-title" href="{{ product.url | within: collection }}">
            {% include 'multilang' with product.title   %}
          </a>
          
          <div class="price-box">
            {% if on_sale %}
            <p class="sale">
              <span class="old-price">{{ product.compare_at_price_min | money }}</span>
              <span class="special-price">{% if product.price_varies %}{% include 'varies_from' %}{% endif %}{{ product.price_min | money }}</span>
            </p>
            {% else %}
            <div class="regular-product">
              {% if product.price_varies %} 
              <div class="group-prices">
                <span class="price-min">
                  {{ product.price_min | money }}
                </span>
                <span class="padding">-</span>
                <span class="price-max">
                  {{ product.price_max | money }}
                </span>
              </div>

              {% else %}

              <span>
                {{ product.price_min | money }}
              </span>

              {% endif %}

            </div>
            {% endif %}
          </div>
          
        </div>
        
      </div>
    
    {% endfor %} 
   
  </div>
  
</div>
{% endif %}

{% if section.settings.enable_banner %}
<div class="sidebar-banner">
  <div class="widget-content">
    {% if section.settings.image_1 != blank %}
    <div class="banner-first banner-item">
      <a href="{{ section.settings.link_1 }}">
        <img src="{{ section.settings.image_1  | img_url: '100x' }}" alt=""             
             data-src="{{ section.settings.image_1  | img_url: '600x' }}"
             class="lazyload"
             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
             data-aspectratio="{{  section.settings.image_1.aspect_ratio }}"
             data-sizes="auto">
      </a>
    </div>
    {% endif %}

    {% if section.settings.image_2 != blank %}
    <div class="banner-last banner-item">
      <a href="{{ section.settings.link_2 }}">
        <img src="{{ section.settings.image_2  | img_url: '100x' }}" alt=""             
             data-src="{{ section.settings.image_2  | img_url: '600x' }}"
             class="lazyload"
             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
             data-aspectratio="{{  section.settings.image_2.aspect_ratio }}"
             data-sizes="auto">
      </a>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

{% if section.settings.enable_custom %}
<div class="sidebar-custom-html">

  <div class="widget-header">
    <h4>
      {% include 'multilang' with section.settings.title_custom %}
    </h4>
  </div>

  <div class="widget-content">
    {% include 'multilang' with section.settings.quote %}
  </div>

</div>
{% endif %}

{% schema %}
  {
    "name": "Sidebar",
    "settings": [
      {
        "type": "header",
        "content": "Categories"
      },
	  {
        "type": "checkbox",
        "id": "display_sidebar_categories",
        "label": "Enable",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "radio",
        "id": "style_categories",
        "label": "Show all \/ Only a few categories",
        "options": [
          {
            "value": "style_show_all",
            "label": "Show all"
          },
          {
            "value": "style_little",
            "label": "Only a few categories"
          }
        ]
      },
	  {
        "type": "link_list",
        "id": "categories_link_list",
        "label": "Choose a link list"
      },
	  {
		"type" : "header",
		"content" : "Product"
	  },
      {
        "type": "checkbox",
        "id": "enable_pr",
        "label": "Display Product",
        "default": true
      },
      {
        "type": "text",
        "id": "title_pr",
        "label": "Title",
		"default" : "Featured Products"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Select Collection"
      },
      {
        "type": "text",
        "id": "limit",
        "label": "Number of products to show",
        "default": "4"
      },
	  {
		"type" : "header",
		"content" : "Banner"
	  },
      {
        "type": "checkbox",
        "id": "enable_banner",
        "label": "Display Banner",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Banner 1"
      },
      {
        "type": "url",
        "id": "link_1",
        "label": "Banner Link 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Banner 2"
      },
      {
        "type": "url",
        "id": "link_2",
        "label": "Banner Link 2"
      },
	  {
		"type" : "header",
		"content" : "Custom Block"
	  },
      {
        "type": "checkbox",
        "id": "enable_custom",
        "label": "Display Custom Block",
        "default": true
      },
      {
        "type": "text",
        "id": "title_custom",
        "label": "Heading",
        "default": "Custom CMS Block"
      },
      {
        "type": "textarea",
        "id": "quote",
        "label": "Text",
        "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
      }
    ]
  }
{% endschema %}
